[2020-05-04 11:14] ZitaNemeckova commented on #7025
`storage` comes from DB so it's not translatable as it may be anything.

[2020-05-06 07:35] ZitaNemeckova commented on #7027
This is dup of https://github.com/ManageIQ/manageiq-ui-classic/issues/7025 so closing.

@miq-bot close_issue

[2020-05-06 07:36] #7027 closed

[2020-05-06 07:36] ZitaNemeckova commented on #7026
It's a dup opf https://github.com/ManageIQ/manageiq-ui-classic/issues/7024 so closing.

@miq-bot close_issue

[2020-05-06 07:37] #7026 closed

[2020-05-07 12:35] himdel commented on #6986
@Ashley-Johnson28 there used to be an image of the search, now I only see the 0 results screen. Do you still have the original image?

[2020-05-07 12:40] Ashley-Johnson28 commented on #6986
@himdel sorry about that! I must have forgotten to upload. Will do so soon but here is screenshot.
<img width="913" alt="Screen Shot 2020-05-07 at 8 39 51 AM" src="https://user-images.githubusercontent.com/51169316/81295387-53693f80-903e-11ea-88b1-f346195b2d56.png">

[2020-05-07 16:10] skateman opened #7037 "Broken select on the PXE server form"
I found this while working on the provider forms, wanted to dig in to the `rawComponents.Select` but got a not so nice styling of my custom dropdown. When you go to `Infra -> PXE` and try to edit or create a new PXE server, you'll see that the select for the URL schema is broken:

![Screenshot from 2020-05-07 18-07-11](https://user-images.githubusercontent.com/649130/81317951-cfd73f00-908d-11ea-87

[2020-05-08 17:59] h-kataria commented on #7037
@ZitaNemeckova can you take a look?

[2020-05-08 20:09] #7025 closed

[2020-05-08 20:11] #7019 closed

[2020-05-08 20:18] #7023 closed

[2020-05-11 06:56] ZitaNemeckova commented on #7023
@miq-bot remove_label jasa/no
@miq-bot add_label jansa/yes

[2020-05-11 08:04] ZitaNemeckova commented on #7023
@miq-bot remove_label jansa/no

[2020-05-11 09:41] Hyperkid123 commented on #7037
@skateman @ZitaNemeckova I would guess that the select component is missing the className prefix which adds the pf3 styling to it. It should have `ddorg__pf3-component-mapper` class prefix on all of its sub-components.

[2020-05-11 13:31] #7024 closed

[2020-05-11 19:38] bsogithub opened #7038 "Container provider has the authentication issue symbol '!' if an attempt to update Alerts/Metrices/Virtualization field is made and cancelled"
This is the container provider shape:
![image](https://user-images.githubusercontent.com/29459925/81602230-33b57c80-939a-11ea-96f8-dd730e6e9517.png)
You can see that there is an incomplete authentication status.

This is the corresponding container provider info:
![image](https://user-images.githubusercontent.com/29459925/81602676-087f5d00-939b-11ea-9833-a77ab08d44de.png)
The validation is success

[2020-05-11 20:00] agrare commented on #7038
cc @h-kataria

[2020-05-12 06:05] skateman opened #7041 "Clean up listnav specifications for non-summary screens"
After https://github.com/ManageIQ/manageiq-ui-classic/pull/6997 gets in, we won't have two ways to speficy if there's a listnav to be rendered on a screen. So instead of the [big list in a common place](https://github.com/ManageIQ/manageiq-ui-classic/blob/master/app/helpers/application_helper/listnav.rb#L3) we might want to move out these into a DSL into each controller.

[2020-05-12 15:59] #6995 closed

[2020-05-12 17:28] dmetzger57 opened #7042 "Add Region number to Providers summary page"
Original BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1743616

Description of problem:
Only some certain entities like instances/vms have CloudForms region displayed on summary page. The rest of entities like providers don't display such info. So, it maybe difficult to determine what CloudForms region do they belong to
Steps to Reproduce:
1. Set up multi-region env where one appliance resides i

[2020-05-12 18:56] skateman opened #7044 "JS console warning in PXE server edit form"
When clicking on the `Change` button in the password field, an error shows up in the JS console:
![Screenshot from 2020-05-12 20-54-54](https://user-images.githubusercontent.com/649130/81733893-fd0f5d00-9492-11ea-83d3-0f4865f3cf87.png)

[code]

There's no degradation in the UI, everything works as it should.

[2020-05-14 13:43] Ashley-Johnson28 commented on #6986
Just now seeing this... I think we should drop 'custom logo' but I am also not sure where it would appear if we didn't? We could already change the 'custom brand' so I'm thinking there shouldn't be a need for a second logo mark.  Can you think of an option that you might?

[2020-05-14 15:26] h-kataria commented on #6986
@Ashley-Johnson28 you can see information in the screesnhot below about where each of these custom logo/images appear in the UI
![Screenshot from 2020-05-14 11-25-29](https://user-images.githubusercontent.com/3450808/81953502-bc6c2c80-95d5-11ea-9f3f-5e3afd5d17f7.png)

[2020-05-14 17:40] miq-bot opened #7048 "On podified CF, users unable to add a new security group or subnet via the UI"
Deployed the latest build of podified cloudforms on OCP 4.3, and we can't add a new security group or subnet for a cloud provider, due to a disabled **Configuration** dropdown menu. Cloud provider has already been added.

![image](https://user-images.githubusercontent.com/20973404/81965946-afb8fa00-9610-11ea-93c6-540e89135c30.png)

![image](https://user-images.githubusercontent.com/20973404/819659

[2020-05-15 02:59] h-kataria commented on #7048
@ZitaNemeckova can you take a look at why the toolbar button is disabled

[2020-05-15 10:17] skateman commented on #7015
SPICE HTML5 console is no longer supported in oVirt, they disabled the functionality completely: https://github.com/ManageIQ/manageiq-providers-ovirt/commit/e4158a0abf53ca7ae9028c36943825299a69b20a

[2020-05-15 10:18] skateman commented on #7015
On the other hand, we have no way to prioritize the consoles if SPICE + VNC is selected, because the backend doesn't send us both console types, but only the `spice` one. With other words, we don't know if the console support is set to `SPICE + VNC` or just `SPICE`. So I don't really know how to fix this...

[2020-05-18 08:29] ashkuren opened #7050 "Service Dialog regex validation inconsistent behavior in different browsers"
Hello,

In reference to the post on [talk.manageiq.org](http://talk.manageiq.org/t/dialog-validation-regex-negative-lookbehind-is-not-working/4920).

I have a regex validator in service dialog that works in Chrome (81.0.4044.138) and fails in Firefox (76.0.1 (64-bit)).
Regex: `^[a-zA-Z\d_]{3,10}(?<!_)$`  ([Regex101](https://regex101.com/r/V194BZ/1)).

I did not find any errors in manageiq log file

[2020-05-18 11:29] skateman commented on #4921
Upgrading [kubeclient](https://github.com/ManageIQ/manageiq-providers-kubernetes/commit/bbf08509ba61873a7a26c306485a29d94428f4be) broke stuff in the UI:
[code]

https://github.com/ManageIQ/manageiq-ui-classic/pull/7051

[2020-05-18 13:20] agrare commented on #4921
Hey @skateman I suspect this wasn't upgrading kubeclient or https://github.com/ManageIQ/manageiq-ui-classic/pull/7043 (since cross-repo tests were green on that one).  I'm guessing it was probably https://github.com/ManageIQ/manageiq-providers-openshift/pull/174 which changed how the method was internally constructed even though the API stayed the same.  The test should probably be rewritten to no

[2020-05-18 13:31] skateman commented on #4921
@mzazrivec can you create a new spec according to this?

[2020-05-18 20:10] himdel commented on #7012
Well, `white-space: break-spaces` should work, at the cost of breaking on newlines in names. (Or rather, doing a line break in places we don't expect, such as headings and breadcrumbs.)

Except we can't quite control the whitespace haml outputs, and it adds newlines. So this would have to be a rails helper wherever we use a name or description. (React is fine, all it needs is the css, but we still

[2020-05-18 20:14] himdel commented on #7012
Also, supporting random whitespace in fields might mean being able to edit it, which means supporting hybrid input/textareas when editing.

So, yeah, I don't know. How often do people use significant whitespace?

[2020-05-18 20:23] chessbyte commented on #7012
I still don't understand the actual need behind this request.  Basically, it can be rephrased as an enhancement to "show significant whitespace".  I would decline this enhancement request unless someone can give examples of real-world use cases.  /cc @Fryguy

[2020-05-18 20:25] himdel commented on #7010
This was fixed in https://github.com/himdel/bootstrap-select/pull/1 , UI PR https://github.com/ManageIQ/manageiq-ui-classic/pull/5029 .

[2020-05-18 20:30] Fryguy commented on #7012
Only thing I can think of is if someone, for example, copy-pastes from the UI and searches in the logs or db via a sql query, then they wont find it, which is super confusing. Having things different in the UI vs logs or in the db can create support headaches.

We actually had a very similar real world issue occur recently and it took like 5 engineers to figure out that there was magic whitespace

[2020-05-18 20:30] himdel commented on #7010
But given hammer != 5.11 and this is angular code from ui-components, looking into whether ui-components code may still be using the old bootstrap-select via angular-patternfly.

[2020-05-18 20:51] himdel commented on #7010
Ah, no, turns out we are using the right `@pf3/select`,
but the issues was only fixed for the Report editor.

In other places, there's no `data-live-search-focus="false"` on the selects, so they still default to focusing live search when enabled.

[2020-05-19 06:52] #7010 closed

[2020-05-19 21:29] chessbyte commented on #6819
@h-kataria next priority is Policies (targeted for the Kasparov release)

[2020-05-21 08:01] skateman commented on #7037
@ZitaNemeckova a soulution might be to drop the `InputWithDynamicPrefix` component and just use a plain input field with an [`inputAddon`](https://github.com/data-driven-forms/react-forms/pull/131). I believe it's fairly easy to do and you can :scissors: a lot of code.

[2020-05-21 14:01] dmetzger57 opened #7065 "Request to add quick search filter on the User's "change group" menu."
Description of feature:

   In production, when you are admin of CloudForms, there can be a big number of projects available when you click on :
   - your name in the top right
   - click on "change group"

   It would be nice if in a way or another, there would be a quick filter available (like you start to write a keyword, start to write the name of a project) and the project list is automatical

[2020-05-21 14:01] dmetzger57 commented on #7065
Original BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1837962

[2020-05-21 16:21] h-kataria commented on #7065
@ZitaNemeckova can you look it to see if this drop down can be made searchable

[2020-05-21 18:45] #6988 closed

[2020-05-22 14:20] aufi commented on #7000
Adding dependency of resolution of this issue - https://github.com/ManageIQ/manageiq-ui-classic/pull/6698

[2020-05-22 17:15] himdel opened #7075 "Policies wizard design"
There was a planned policies wizard, but looks like no issue was ever opened, moving info here.

Old UX feedback from 2018: http://talk.manageiq.org/t/ux-feedback-policies/3336

Step 1 is converting existing forms to react: https://github.com/ManageIQ/manageiq-ui-classic/pull/6296

---

Preliminary designs from https://docs.google.com/document/d/1Vnt-oOzwLOOKaFsxCauW9CJcHGdBUmcVLuKKXkfRa2s/edit

#

[2020-05-22 17:19] himdel commented on #7075
Meeting Notes
Oct 1
Kickoff with Martin P and Martin H

TODO: where to put this - a toolbar under Control > Explorer for now
TODO: figure out which steps are required and which are not
TODO: maybe per-step indicator of filled out/not
TODO: clicking on individual steps, and in summary
TODO: saving after each step surprising?

Oct 7

DB hierarchy:

* PP
   * P
      * C
      * C
         * E

[2020-05-22 17:21] himdel commented on #7075
Cc @Fryguy , @Ashley-Johnson28 , @chessbyte , @h-kataria , @skateman

Materials for the policies redisign we dicsussed

[2020-05-22 19:43] h-kataria opened #7076 "Remove Grid/Tile types from List views"
- Removing these two types removes extra code complexity and make it easier to convert to react
- Will also be helpful for the screens where we want to add Tree view(as a result of de-explorization)
- List views will become more maintainable, lot of code complexity that's there will be gone with quadicon calculations.

@skateman @himdel @Fryguy @Ashley-Johnson28 @chessbyte

list view
![list](https

[2020-05-25 12:38] himdel commented on #7037
working screenshot in https://github.com/ManageIQ/manageiq-ui-classic/pull/5614

[2020-05-26 14:29] aufi commented on #7000
Tbe backend PR in OpenStack provider was merged, we're waiting for its UI provider form update.

A master-branch PR with DDF refactoring took @skateman and it is waiting for https://github.com/ManageIQ/manageiq-ui-classic/pull/6698 merge.

Jansa-branch (backport version) doesn't have any assignee at this moment, @h-kataria @dmetzger57 Would it be possible get someone for this task? (not very relat

[2020-05-26 17:47] dmetzger57 commented on #7000
Jansa work is under the blue team control, so @h-kataria would be the person to provide a definitive answer.

[2020-05-27 07:26] #7022 closed

[2020-05-27 13:23] ZitaNemeckova commented on #7065
Must be done on top of #6963 .

[2020-05-27 14:08] himdel commented on #7065
the `GroupSwitcher` now uses a carbon [Dropdown](https://www.carbondesignsystem.com/components/dropdown/code/), there is a "filterable multiselect" pattern with search in the example, so it can probably be adapted for single select.

(The Gray 90 theme is what we're using in the menu.)

[2020-05-28 14:21] Ashley-Johnson28 commented on #6986
@himdel screenshot of what we talked about and current pak experience...

<img width="833" alt="Screen Shot 2020-05-28 at 9 38 29 AM" src="https://user-images.githubusercontent.com/51169316/83153441-f1e04200-a0cc-11ea-9744-74654208bd32.png">
<img width="430" alt="Screen Shot 2020-05-28 at 10 20 36 AM" src="https://user-images.githubusercontent.com/51169316/83153444-f1e04200-a0cc-11ea-8cee-4e4f0000

[2020-05-29 14:06] skateman commented on #6848
https://github.com/ManageIQ/manageiq-ui-classic/pull/6698

[2020-05-29 14:06] #6848 closed

[2020-06-02 18:39] dmetzger57 opened #7096 "[VMware] No indication of why CD/DVD Drive is not accessible/editable"
Original BZ: 1689376

Description of problem:
If you look at the screenshot below, I see no indication of why there is nothing that can be done/changed/edited in CD/DVD Drives section. We should put some help notes, error message or pop up as of why is it empty.
How reproducible:
Believe 100%

Steps to Reproduce:
1.Add VMware Provider
2.Run Smart State Analysis on Datastores so CFME can detect ava

[2020-06-03 15:47] h-kataria commented on #7096
Milan, can you take a look at this issue,  [BZ comment](https://bugzilla.redhat.com/show_bug.cgi?id=1689376#c2)

[2020-06-03 18:20] dmetzger57 commented on #7096
Just need to prioritize this below any committed 5.11 errata tickets.

[2020-06-03 18:26] Fryguy commented on #7096
where's the screenshot?

[2020-06-03 18:30] dmetzger57 commented on #7096
Apparent pilot error when I created the issue, attaching now.
![BZ 1689376](https://user-images.githubusercontent.com/12279163/83675255-b6e77e00-a5a6-11ea-96bd-9ffda35876ca.png)

[2020-06-05 09:52] #7037 closed

[2020-06-05 15:40] h-kataria commented on #7076
@Fryguy @Ashley-Johnson28 @chessbyte please see screenshot from WIP list of Hosts with icons in some of the columns as discussed in the meeting
![host_list_with_icons](https://user-images.githubusercontent.com/3450808/83895775-2bdec300-a721-11ea-9367-c3824fe81a30.png)

[2020-06-06 18:24] #6986 closed

[2020-06-06 18:24] #6817 closed

[2020-06-09 12:40] #7096 closed

[2020-06-10 18:25] mikebutak opened #7118 "UI Hangs when importing from GitHub, with "Connection timed out" error"
This is a bug with the ManageIQ Client.

Steps to repro:
1. Go to the Import/Export tool at Automation > Automate > Import/Export
2.  Import Datastore via git using this url: https://github.com/rhtconsulting/miq-Utilities.git (I assume any github url will get the same error.)
3.  Leave optional fields blank and click submit.
4.  Spinner appears for at least a minute or two before the following err

[2020-06-11 08:37] #7042 closed

[2020-06-11 13:24] #6268 closed

[2020-06-11 15:45] #6258 closed

[2020-06-11 15:49] himdel commented on #5907
Closing, as of #6963, there is no navbar

[2020-06-11 15:49] #5907 closed

[2020-06-11 15:57] himdel commented on #7118
This should probably not be a UI bug.

The UI just waits for the task to finish, and correctly displays the error message.

As for the actual request failing .. all it says is that the appliance couldn't reach github.

Sounds like either the appliance is firewalled, can't access github, github is down,
or there's an error in GitRepository#refresh.

[2020-06-11 16:11] himdel commented on #7050
This used to work back when Dialog player was implemented in Ruby (changed in https://github.com/ManageIQ/manageiq-ui-classic/pull/2067 - gaprindashvili+).

There are no JS shims to  add lookahead/lookbehind support, so only regexes that are supported in your browser are supported by our dialog code, that won't change - closing.

The current browser support for lookbehinds can be seen [here](https

[2020-06-11 16:11] #7050 closed

[2020-06-11 17:41] himdel commented on #6986
Invision backup if it ever becomes needed:

![319509740](https://user-images.githubusercontent.com/289743/84421172-aec4b980-ac0a-11ea-98c6-a00d5095cf17.png)
![319509741](https://user-images.githubusercontent.com/289743/84421176-aff5e680-ac0a-11ea-9908-fbacb78e0697.png)
![319509742](https://user-images.githubusercontent.com/289743/84421177-b08e7d00-ac0a-11ea-862a-3dd901b680e8.png)
![319509743](http

[2020-06-11 17:47] himdel commented on #7118
(from http://talk.manageiq.org/t/ui-hangs-if-errors-are-encountered-during-git-import/4981/2)

@mikebutak Yes, that's exactly what you're seeing. I believe we can close this then?

[2020-06-11 17:48] skateman opened #7126 "Possibly broken links to reports in generated e-mails"
There's a `/report/show_saved` route defined without an underlying `ReportController#show_saved` method and when generating e-mails, we're [pointing with links](https://github.com/ManageIQ/manageiq-ui-classic/blob/master/app/controllers/report_controller/schedules.rb#L444) to this route. I suspect that these links are broken...

[2020-06-11 18:01] himdel commented on #7126
Can't help with emails, but the URL is definitely no longer valid, since https://github.com/ManageIQ/manageiq-ui-classic/pull/6076

[2020-06-11 21:49] mikebutak commented on #7118
Yes.  Thank you @himdel

[2020-06-11 21:49] #7118 closed

[2020-06-11 22:19] himdel commented on #7011
from the BZ, half-screen = 50% width

![half-screen](https://user-images.githubusercontent.com/289743/84444474-653b9500-ac31-11ea-888f-a9399a741abd.png)

Looks like the bug is: form submit buttons not yet moved outside the bottom toolbar don't work when overlapping with pagination.

The fix will be to move the buttons outside the toolbar, consistently with all the angular & react forms.

[2020-06-12 05:32] gpavinteractiv commented on #6032
Don't think this should be closed

[2020-06-12 05:32] gpavinteractiv commented on #6037
Don't think this should be closed

[2020-06-12 06:39] #6656 closed

[2020-06-15 18:04] mturley commented on #5625
I think we're considering this `wontfix` on the manageiq-v2v side of things, not sure if it's worth fixing in general for ui-classic.

[2020-06-15 18:38] epwinchell commented on #5625
@miq-bot assign @h-kataria

[2020-06-15 18:38] epwinchell commented on #6377
@miq-bot assign @h-kataria

[2020-06-16 08:56] skateman commented on #7126
So we basically need a permalink solution for saved reports to fix this issue, which we would want to have anyway in the near future. So I'm deleting the dead route and will mention this issue at the direct linking one. cc @h-kataria & @lpichler

[2020-06-16 15:20] skateman commented on #6696
Yeah, working on it.

[2020-06-16 15:58] h-kataria commented on #7126
@skateman you can schedule a report to run and set email options to send an email after report is run
![Screenshot from 2020-06-16 11-56-20](https://user-images.githubusercontent.com/3450808/84798269-bc8e8c00-afc8-11ea-8938-d116a528a18c.png)

[2020-06-18 03:42] himdel commented on #1870
Closing, removed in #5864

[2020-06-18 03:42] #1870 closed

[2020-06-18 17:45] agrare opened #7144 "Unable to provision cloud instance"
Attempting to provision a GCE instance from an image, loading the provision dialog bloats the session to 1.5MB and the session is dropped.  Clicking on anything after this states that " Session was timed out due to inactivity. Please log in again. " and am redirected to the login screen.

![Screenshot from 2020-06-17 14-52-15](https://user-images.githubusercontent.com/12851112/84939018-ac9ba880-b0

[2020-06-18 20:48] epwinchell commented on #967
@miq-bot assign @skateman

[2020-06-19 13:34] Fryguy commented on #7126
This is also affecting the api apparently.  See https://travis-ci.com/github/ManageIQ/manageiq-api/jobs/351187239

[2020-06-24 18:36] dmetzger57 opened #7148 "Dialog Datepicker showing incorrect date in dialog edit and details page"
Original BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1713185

Description of problem:

How reproducible:
100%

Steps to Reproduce:

1.Create a dialog with Datepicker
2.Select specific dates, Save ( I set 5/30/2019 )
3.Go to the service dialog details page(It showing the 5/29/2019)
4.Edit the dialog (It shows the current dates(5/23/2019)

Actual results:
Specific dates of Datepicker showing inc

[2020-06-24 20:33] himdel commented on #6543
`template_class="cloud"` is what happens when coming from provider instances view

[2020-06-24 20:37] himdel commented on #6543
Partially fixed in https://github.com/ManageIQ/manageiq-ui-classic/pull/4136,
but there's one more place.

[2020-06-25 09:01] #6543 closed

[2020-06-25 09:01] #7011 closed

[2020-06-26 17:58] lfu opened #7150 "No task menu for perf_top_chart under PhysicalRackController and PhysicalChassisController"
A route ```perf_top_chart``` is defined for `PhysicalRackController` and `PhysicalChassisController`, but can't find any task menu for it under Physical Infrastructure - Racks/Chassis.
Not sure if the route is still valid.

[2020-06-26 18:03] lfu opened #7151 "Missing route download_summary_pdf"
UI has a task menu for `Print and export summary` under `PhysicalRackController` and `PhysicalChassisController`, but there is no route defined.
Clicking on it throws an error:
[code]

[code]

[2020-06-26 20:32] #6855 closed

[2020-06-26 20:32] #6873 closed

[2020-06-29 18:34] gtanzillo commented on #1884
/cc @h-kataria

[2020-06-29 18:52] gtanzillo commented on #1943
/cc @h-kataria

[2020-06-29 19:01] gtanzillo commented on #3678
/cc @h-kataria

[2020-06-29 19:16] agrare commented on #2529
Added as a checklist item to https://github.com/ManageIQ/manageiq/issues/19440

[2020-06-29 19:16] #2529 closed

[2020-06-29 19:52] #485 closed

[2020-06-30 13:27] ZitaNemeckova commented on #65
Still valid
[code]

[2020-06-30 13:28] ZitaNemeckova commented on #5817
@miq-bot remove_label stale

[2020-06-30 13:35] himdel commented on #1884
Closing,
it would still be nice to have upstream layouts for our patterns,
but I don't think we can expect these in patternfly 3 anymore.

We might be able to do this for patternfly 4, but that's unlikely to happen as the 2 versions can't be used together.
Carbon seems more concerned with primitives than whole layouts and patterns, so I don't think it makes sense to push there either. (It does mak

[2020-06-30 13:35] #1884 closed

[2020-06-30 13:53] h-kataria commented on #1943
@mzazrivec can you take a look at disabling those buttons when there are no available conditions to move?

[2020-06-30 16:20] #3678 closed

[2020-07-01 12:15] skateman opened #7167 "Styling issues with input-addons in DDF"
I'm trying to reimplement the endpoint detection for openshift/kubernetes in the DDF provider forms and I found this styling issue:

[code]

![Screenshot from 2020-07-01 14-12-10](https://user-images.githubusercontent.com/649130/86242589-39169280-bba5-11ea-923c-365a540b0a83.png)

Parent issue: https://github.com/ManageIQ/manageiq/issues/18818

[2020-07-01 15:28] d-m-u opened #7170 "Assign Catalog Items field doesn't allow for overflow"
If you have long catalog item names there's no way of seeing the full name at the moment and I was wondering if we could consider doing something about that:
<img width="962" alt="Screen Shot 2020-07-01 at 11 26 26 AM" src="https://user-images.githubusercontent.com/16326669/86262464-e7aed900-bb8d-11ea-8784-c4f9c016be49.png">

[2020-07-02 12:56] skateman opened #7174 "Option with empty value never gets selected in the DDF select"
In select fields, when there's a nulll/0/empty value for an option, it never gets preselected if the field matches the value and the placeholder is shown. If you try to select it manually, the same thing happens, the default empty value tied to the placeholder takes preference:

![Screenshot from 2020-07-02 14-53-50](https://user-images.githubusercontent.com/649130/86361305-ee178080-bc73-11ea-9d97

[2020-07-02 13:10] Hyperkid123 commented on #7174
I believe there was a code with something like `!value ? ... : ...` and obviously `null`, `0`, and `undefined` are treated as false. How critical is this bug? We can release a path for v1 but I have some other tasks at the moment.

[2020-07-02 13:15] h-kataria commented on #7174
@Hyperkid123 this is not a critical bug at the moment so it can wait.

[2020-07-02 13:19] Hyperkid123 commented on #7174
@skateman can you open issue on the GH repo?

[2020-07-02 18:01] #1943 closed

[2020-07-03 09:32] #7151 closed

[2020-07-06 18:49] Fryguy commented on #5383
@h-kataria Can you verify?

[2020-07-06 18:52] Fryguy commented on #5620
@skateman Is this still relevant?

[2020-07-06 18:53] #5625 closed

[2020-07-06 18:53] skateman commented on #5620
Yes, explorer trees are still using the old stuff.

[2020-07-06 19:11] Fryguy commented on #6048
@himdel Has this already been fixed?

[2020-07-06 19:19] Fryguy commented on #6218
@h-kataria Can you review this one?

[2020-07-06 19:20] Fryguy commented on #6261
Closing since this is not reproducible. Please reopen if you can still reproduce on newer versions.

[2020-07-06 19:20] #6261 closed

[2020-07-06 19:22] Fryguy commented on #6307
@himdel Are these still issues?

[2020-07-06 19:23] Fryguy commented on #6333
@lpichler Can you verify this issue?

[2020-07-06 19:25] Fryguy commented on #6348
Closed due to new breadcrumbs implementation.

[2020-07-06 19:25] #6348 closed

[2020-07-06 20:09] chessbyte commented on #6983
@epwinchell is this fixed on `jansa`?

[2020-07-06 20:20] epwinchell commented on #6983
@chessbyte If I recall, this was an Ivanchuk only bug. Perhaps, @himdel or @h-kataria can confirm.

[2020-07-06 22:00] h-kataria commented on #6218
Looking at the screenshots without any any details in the issue it is difficult to tell what this issue is about, but my understanding is that @ZitaNemeckova was trying to point out inconsistencies between the 2 types of forms in the Catalog Item editor. Ruby version vs. Angular version. These differences will go away once we get to convert these forms to React DDF forms.
I am closing this issue i

[2020-07-06 22:00] #6218 closed

[2020-07-07 08:11] ZitaNemeckova commented on #6218
@h-kataria It was more like notes to myself. Just to have all possible Catalogs forms at one place. But I never finished it to actually have any value to anyone else. So closing it is a good call :)

[2020-07-07 13:08] himdel commented on #6307
Potentially, yes.

As long as we have restful and non-restful controllers, this can be a problem.

We should convert `ems_cloud`, `ems_infra`, `ems_physical_infra`, `ems_container` and `ems_network` to use the same logic as the rest of the app.

[2020-07-07 13:56] #5817 closed

[2020-07-07 14:18] himdel commented on #6048
No. We still have multiple copies of the form, and there's pending backend work to unify `CustomButtonSet#set_data[:button_order]` and `CustomButtonSet#children`.

Until that's finished, custom button order will not be consistent, and neither will the forms.

[2020-07-07 14:24] himdel commented on #6983
It was definitely an ivanchuk only bug when we planned to have the new menus in jansa.

That didn't happen.

Jansa is different because of https://github.com/ManageIQ/manageiq-ui-classic/pull/6637,
but the actual color constants in jansa are the ones https://github.com/ManageIQ/manageiq-ui-classic/pull/6990 changed *from*.

I'll try to get a working jansa to test this :)

[2020-07-07 14:25] chessbyte commented on #6048
@himdel the refactoring part of this issue was split off into #6701.  Asking if the bug reported in https://github.com/ManageIQ/manageiq-ui-classic/issues/6048#issue-481651574 is addressed.

[2020-07-07 14:28] himdel commented on #6048
Oh, in that case, most likely yes, Generic Objects are one of the more problematic areas (read: we need to rewrite it or remove it).

I'll check.

[2020-07-07 15:20] himdel commented on #6983
So,
ivanchuk: fixed (#6990)
jansa: not a problem (likely #6637)
master: no navbar (#6963)

[2020-07-07 15:20] #6983 closed

[2020-07-07 15:21] himdel commented on #6983
jansa-1-beta-1:

![20200707151922](https://user-images.githubusercontent.com/289743/86803393-78415980-c065-11ea-99be-a33243689b0e.png)

[2020-07-07 15:38] himdel commented on #6048
Automation > Automate > Customization >> Buttons
tree click Generic Object
toolbar Configuration > Add a new Button Group

looks like adding a button group, with or without label or buttons does work now, closing.

The group won't get displayed anywhere, as it's not associated with a specific generic object definition, but I suppose that's a separate issue, possibly shared with per-id catalog cust

[2020-07-07 15:38] #6048 closed

[2020-07-07 16:10] himdel commented on #6907
Fixes https://github.ibm.com/IBMPrivateCloud/CP4MCM/issues/10782: In add new role screen Add button is getting enabled without entering role name

(that's just how the old forms work, validate on submit, not before, but converting the form should fix the issue)

[2020-07-07 17:56] #5383 closed

[2020-07-07 19:25] himdel opened #7186 "Utilization/Trends are shown on the container provider level but not on the projects level"
( Clone of https://github.ibm.com/IBMPrivateCloud/CP4MCM/issues/10716 )

On the container provider level, Aggregated Node Utilization, Node Utilization, Network Utilization Trend, and Pod Creation and Deletion Trends are shown:

![0d848ba4-16fc-4480-8e14-4eb1eea5a5cb](https://user-images.githubusercontent.com/289743/86832093-3fb27780-c087-11ea-9b6f-f21506c87c41.jpeg)

On the projects, they are emp

[2020-07-07 19:35] #6046 closed

[2020-07-08 13:28] #7186 closed

[2020-07-08 14:58] h-kataria commented on #6821
should look at some of the list view customizations suggestions [here](https://github.com/ManageIQ/ui-components/issues/419)

[2020-07-08 15:10] agrare opened #7187 "Cloud Network and Cloud Subnet Create form is too specific to OpenStack"
When creating a Cloud Network the form requires a cloud_tenant be selected but that isn't true across all provider types.  The Provider Network Type list should be filtered by the provider type, and Physical Network and Segment ID don't exist on all providers

For the cloud subnet form not all cloud provider support dhcp and ipv6.

[2020-07-08 15:11] agrare commented on #7187
cc @skateman

[2020-07-08 15:23] skateman commented on #7187
We could do something like we did for providers: API-driven DDF schema defined in the provider repos.

[2020-07-13 10:10] #7150 closed

[2020-07-13 10:11] mzazrivec commented on #7000
I'm guessing this is all done and this issue can be closed, correct?

[2020-07-13 13:08] h-kataria commented on #7000
closing as per https://github.com/ManageIQ/manageiq-ui-classic/issues/7000#issuecomment-657467147

[2020-07-13 13:08] #7000 closed

[2020-07-13 19:11] gtanzillo commented on #6419
@djberg96 Please retest with latest master

[2020-07-13 19:16] gtanzillo commented on #6037
Ping @Ashley-Johnson28

[2020-07-13 19:16] gtanzillo commented on #6032
Ping @Ashley-Johnson28

[2020-07-13 19:17] gtanzillo commented on #5970
Ping @Ashley-Johnson28

[2020-07-13 19:29] gtanzillo commented on #5498
verified, https://github.com/ManageIQ/manageiq-ui-classic/issues/5498 is no longer an issue

[2020-07-13 19:29] #5498 closed

[2020-07-14 17:08] lfu opened #7198 "Missing route download_summary_pdf for physical_network_port"
<img width="1440" alt="Screen Shot 2020-07-14 at 13 02 33" src="https://user-images.githubusercontent.com/2593270/87455175-07ed8780-c5d3-11ea-91eb-89899dc98d26.png">

[code]

[2020-07-14 18:11] agrare opened #7199 "Unable to delete or revert VM snapshots"
I am unable to delete or revert VM snapshots in the UI for an infrastructure provider.  It appears that selected snapshots aren't being recognized so the buttons to run those operations aren't enabled.

![Screenshot from 2020-07-14 14-08-00](https://user-images.githubusercontent.com/12851112/87461103-ecd34580-c5db-11ea-9634-f580d2d7a512.png)

![Screenshot from 2020-07-14 14-08-04](https://user-ima

[2020-07-14 19:04] agrare commented on #7199
I tried seeing if the button was disabled because of supports feature or something but it says it is enabled:
[code]

[2020-07-15 19:02] djberg96 commented on #6419
@gtanzillo Looks like it's no longer an issue. Closing.

[2020-07-15 19:02] #6419 closed

[2020-07-16 08:49] skateman opened #7206 "Firmware registry possibly in the wrong menu location"
I guess this should be in the Physical Infra submenu, but I'm not entirely sure. Feel free to close if it's correct like it is:
![Screenshot from 2020-07-16 10-49-09](https://user-images.githubusercontent.com/649130/87650480-01d1e500-c752-11ea-842a-4d9311210388.png)

cc @lfu

[2020-07-16 20:15] h-kataria commented on #7199
@skateman Removing https://github.com/ManageIQ/manageiq-ui-classic/blob/master/app/helpers/application_helper/toolbar/x_vm_snapshot_center.rb#L23 and https://github.com/ManageIQ/manageiq-ui-classic/blob/master/app/helpers/application_helper/toolbar/x_vm_snapshot_center.rb#L42 fixes the issue, i think we don't need `onwhen` because we always have atleast one snapshot selected in the tree.

There is

[2020-07-17 08:01] mzazrivec commented on #4921
Cause: https://github.com/ManageIQ/manageiq/pull/20361
Fix: https://github.com/ManageIQ/manageiq-ui-classic/pull/7214

[2020-07-17 08:17] skateman commented on #7199
@h-kataria probably the onwhen values are not being set properly, going to take a look.

[2020-07-17 10:58] #7198 closed

[2020-07-17 17:28] dmetzger57 opened #7216 "Hand pointer without clickable link on My Company Tags where no tags have been assigned"
Original BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1740422

See screen shot of Ansible Tower job summary page without clickable link
![ansible_jobs_hand_pointer](https://user-images.githubusercontent.com/12279163/87814247-5c8e3e00-c831-11ea-813e-6bb720bd37f7.png)

Description of problem:
----------------------
See attached screen shot.

How reproducible:
----------------
Always

Steps to Rep

[2020-07-17 17:57] dmetzger57 opened #7218 "Traceback when clicking on 'Unassigned Profiles Group' under Satellite provider"
Original BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1751865

Description of problem:

Nothing appears in the web UI when clicking on 'Unassigned Profiles Group' for a Satellite Configuration Provider. A traceback appears in production.log. If the user clicks on the Configured Systems accordion, then back again on the Providers accordion, then the Unassigned Profiles Group folder is populated

[2020-07-20 07:21] #7206 closed

[2020-07-22 07:22] niyazRedhat opened #7226 "User not able to add catalog with right permission"
Version-Release number of selected component (if applicable):
Version 5.11.7.1.20200720142317_1cdf0a2

How reproducible:
100%

Steps to Reproduce:
1. Create Role with  permission [Services', 'Catalogs Explorer', 'Catalogs]
2. Create a Group and user
3. Login with the above user
4. Try to Add catalog

Actual results:
Unable to add a catalog with the user.

Expected results:
User should able to add

[2020-07-22 16:15] jvlcek opened #7227 "[Auth] Remove deprecated MiqLdap in favor of external authentication"
This issue will track the necessary UI work associated with removing support fro the deprecated MiqLdap.
Which involves removing options LDAP and LDAPS from the authentication screen.

The plan is to disable the option to select LDAP and LDAPS, which configures MiqLdap, from the UI first.
Then remove MiqLdap from the back end a release later.

The back end issue is: [20017](https://github.com/Mana

[2020-07-22 16:17] jvlcek commented on #7227
@miq-bot assign @jvlcek
@miq-bot add_label technical debt
@miq-bot add_label cleanup

[2020-07-23 06:49] skateman commented on #7199
@agrare isn't this because the active snapshot cannot be deleted or reverted to as it is active? This seems like an issue from pre-react trees, so I am suspecting this is a feature and not a bug.

[2020-07-23 12:15] agrare commented on #7199
Hey @skateman

1. I don't think that is an actual limitation for all providers.  Most providers you absolutely can delete, revert to, etc... the "current" snapshot.  RHV is the only one that I think has a limitation that you can't delete the "active" snapshot but we'd have to confirm that

2. That's also not the issue here, the delete and revert buttons are disabled for every snapshot on the VM:

[2020-07-23 12:31] agrare commented on #7199
Also only 1 is marked as current (just ruling out an EMS Refresh bug)
[code]

[2020-07-23 18:36] h-kataria commented on #7218
Noticed error in the production log attached to original BZ. This issue no longer exists after this screen was redesigned/de-explorized.

@dmetzger57 I am closing this issue, feel free to re-open if you disagree.

[2020-07-23 18:36] #7218 closed

[2020-07-27 09:28] ahrechushkin opened #7237 "Can't change provision entrypoint"
While trying adding catalog item i can't change any entry-points
![Screenshot from 2020-07-27 12-25-34](https://user-images.githubusercontent.com/42965478/88526276-6ae41300-d004-11ea-8336-a0d3c642a3a5.png)

My datastores:
![datastores](https://user-images.githubusercontent.com/42965478/88526476-a41c8300-d004-11ea-9492-e6adcbd24320.png)

Version: Jansa
@skateman can u check in your appliance?

[2020-07-27 10:12] skateman commented on #7237
Hi, I need to know what version are you using and what kind of user (roles) are you logged in with.

[2020-07-27 10:21] ahrechushkin commented on #7237
The latest commit in ui-classic (https://github.com/ManageIQ/manageiq-ui-classic/pull/7212)
Role - EVM superadmin

[2020-07-27 15:48] skateman commented on #7237
I'm not able to reproduce the issue neither on master or on the latest jansa branch :confused:

[2020-07-28 13:14] #7227 closed

[2020-07-28 13:27] ahrechushkin commented on #7237
Fixed by update manageiq-repo, manageiq-schema and manageiq-automation_engine
Thx for help, David!

[2020-07-28 13:27] #7237 closed

[2020-07-28 13:29] skateman commented on #7237
You're welcome, but I didn't do much :confused:

[2020-07-30 14:02] #7199 closed

[2020-07-30 16:05] djberg96 commented on #6734
Most of these were fixed. Closing for now, will reopen if I get a hankering to revisit.

[2020-07-30 16:05] #6734 closed

[2020-07-31 12:14] himdel commented on #7167
So.. what's the issue?  The button shouldn't have the border?

[2020-07-31 12:18] skateman commented on #7167
I guess the border is unnecessary + the button is larger than the input.

[2020-07-31 12:30] himdel commented on #7167
OK, to get this...

![20200731122705](https://user-images.githubusercontent.com/289743/89034871-5b790880-d329-11ea-8b17-a61cbc8165ce.png)

the html needs to be..

[code]

(without border-color by default)

Looking..

[2020-07-31 12:42] skateman commented on #7167
Yeah, I got almost the same, but the `.input-group` and `.input-group-btn` are not `div` but `span` and if I replace them with `div`s, there's no change :confused:

[2020-07-31 13:06] himdel commented on #7167
![20200731130430](https://user-images.githubusercontent.com/289743/89037679-8154dc00-d32e-11ea-8063-05bff01a991e.png)

Is how the same html looks when I replace our dashboard content with it.
So, looks like patternfly itself is not culprit..

[2020-07-31 13:13] himdel commented on #7167
But seeing the same issue when using the schema, it looks like the generated HTML is..

[code]

[2020-07-31 13:14] himdel commented on #7167
So, just changing `input-group-addon` to `input-group-btn` is probably enough:

![20200731131407](https://user-images.githubusercontent.com/289743/89038395-cc232380-d32f-11ea-983a-795ca6a6f6fc.png)

[2020-07-31 13:18] himdel commented on #7167
[code]

works :)

[2020-07-31 13:19] skateman commented on #7167
Great, thanks!

[2020-07-31 13:19] #7167 closed

[2020-07-31 19:01] h-kataria opened #7244 "Flash message has record name missing on new DDF Provider Edit forms when pressing save/cancel buttons"
Issue to address comments in https://github.com/ManageIQ/manageiq-ui-classic/pull/7176#issuecomment-667232399 and https://github.com/ManageIQ/manageiq-ui-classic/pull/6698#issuecomment-635258444

before
![Screenshot from 2020-07-31 12-37-51](https://user-images.githubusercontent.com/3450808/89067804-fc71be80-d33d-11ea-99ed-58aa65544503.png)

after
![Screenshot from 2020-07-31 12-36-43](https://use

[2020-08-07 08:54] #7244 closed

[2020-08-11 17:42] chessbyte opened #7253 "Classic UI should support Accessibility"
Some background information on accessibility can be found at [w3.org](https://www.w3.org/WAI/fundamentals/accessibility-intro/), [a11yproject](https://www.a11yproject.com/) and [usability.gov](https://www.usability.gov/what-and-why/accessibility.html).  One can find a general accessibility checklist [here](https://www.a11yproject.com/checklist/).

We use a Ruby gem called [tota11y](https://github.

[2020-08-12 12:52] himdel commented on #6835
API changes in https://github.com/ManageIQ/manageiq-api/pull/712

(we won't be doing autocomplete for now, but it seems we can use the proposed API to populate all the field choices)

[2020-08-19 09:50] skateman opened #7268 "PXE form URI field is too smart for DDFv2"
The field is implemented by a component called `input-with-dynamic-prefix` and it is everything but standard. The field value is being split among two components and altered after rendering. The value is then again altered when validating and submitting the form. This whole mess is just because we want to enforce the user to have the right protocol prefixes in the field without allowing them to ed

[2020-08-19 13:07] #7268 closed

[2020-08-19 14:16] agrare opened #7270 "Unable to provision a Virt VM from a template, selecting storage or customization_spec fails"
![Screenshot from 2020-08-19 10-15-37](https://user-images.githubusercontent.com/12851112/90646302-10a23080-e205-11ea-8d74-d15262945200.png)

[code]

[2020-08-19 14:19] agrare commented on #7270
Think this might be related to https://github.com/ManageIQ/manageiq/pull/20374

[2020-08-19 16:24] #6949 closed

[2020-08-20 14:21] #7270 closed

[2020-08-25 13:55] skateman opened #7277 "Update DDF to version 2"
https://data-driven-forms.org/migration-guide

[2020-08-25 14:00] skateman opened #7278 "DDF componentMapper for Carbon"
To switch all our DDF forms to Carbon styling, we need to create a `componentMapper`. My idea is to duplicate the [PF3 mapper](https://github.com/data-driven-forms/react-forms/tree/master/packages/pf3-component-mapper) and reimplement the internals using the Carbon components. Or maybe @Hyperkid123 has a better way to generate mappers.

- [x] ~Upgrade to DDF v2 (#7277)~
- [x] ~CarbonMapper (https:

[2020-08-25 14:08] Fryguy commented on #7278
cc @chadh1313

[2020-08-25 14:10] Hyperkid123 commented on #7278
@skateman there is a script in the data-driven forms that will generate a new package with placeholder components required by the library to be exported. If you want, you can use that a make it a part of the DDF or just run the script and copy the generated files to somewhere you want.

Command is here: https://data-driven-forms.org/development-setup#heading-generatingamappertemplate

[2020-08-25 14:35] #7076 closed

[2020-08-25 15:21] #6820 closed

[2020-08-31 20:13] gtanzillo commented on #6062
fyi @h-kataria

[2020-08-31 20:26] gtanzillo commented on #3994
Closing via #18818

[2020-08-31 20:26] #3994 closed

[2020-08-31 20:30] gtanzillo commented on #3760
Please reopen with more details if this is still an issue

[2020-08-31 20:30] #3760 closed

[2020-08-31 20:35] gtanzillo commented on #3182
It seems it would be more productive to open a separate issue for each instance where an object is stored in the session.

[2020-08-31 20:35] #3182 closed

[2020-08-31 21:06] chessbyte commented on #6580
@himdel @h-kataria will this be addressed (rendered unneeded) when https://github.com/ManageIQ/manageiq-ui-classic/issues/6819 is completed?

[2020-09-01 00:32] h-kataria commented on #6580
@chessbyte that's right this will be resolved once https://github.com/ManageIQ/manageiq-ui-classic/issues/6819 is completed.

[2020-09-02 14:00] h-kataria commented on #6062
@himdel do you know if this still an issue in SUI

[2020-09-02 14:20] himdel commented on #6062
Definitely, SUI has multiple toolbar-related issues, more in https://github.com/ManageIQ/manageiq-ui-classic/issues/6669.

[2020-09-02 18:27] kenneth88888 opened #7284 "Display Counterpart for Configured Systems"
We implemented a new [IBM Terraform Provider](https://github.com/ManageIQ/manageiq-providers-ibm_terraform) which discovers Configured Systems from our product. We are cross linking the Configured System to the Virtual Machines already discovered in the Compute Providers.

This enhancement is to show Counterpart(VM) from the Configured Systems UI.

<img width="1891" alt="ManageIQ-ConfiguredSystem-

[2020-09-03 00:53] NickLaMuro opened #7286 "Editing username for `EmbeddedAnsible` SCM credential cause key to be nil'd out"
Steps to reproduce
------------------

1. Enable `EmbeddedAnsible` (if it is not already)

2. Go to `Automation -> Ansible -> Credentials`

3. Add a new SCM key, with a username (example: "git") and private key (example: "totally fake")

4. In a Rails console, check the credentials is there and the username and key exist:

[code]

5. Edit the new credential, and change only the userid (example: "g

[2020-09-03 00:57] NickLaMuro commented on #7286
I will do a quick look into this to see if I can fix it on my own, but it is something we stumbled on while troubleshooting this ticket with a customer:

https://bugzilla.redhat.com/show_bug.cgi?id=1869885

Could be frontend or backend code that is the culprit, but not sure yet.

[2020-09-03 01:22] NickLaMuro commented on #7286
Did a bit of Debugging locally, and rails log seems suggest the UI calls a API action for this and that queues a backend task:

<details>
<summary>Log output</summary>

[code]

</details>

Unless it is sending bad data to said task, I think this is most likely _**NOT**_ a UI problem, but I will keep the issue open here until I know for sure (and ultimately will not open an issue elsewhere just to

[2020-09-03 01:34] NickLaMuro commented on #7286
Okay, the issue is in Core.  The following change fixes is for `scm_credential.rb`:

[code]

But there will need to be probably changes to all credential types.  I will work on a PR for this tomorrow.

[2020-09-03 18:35] bhadrim opened #7289 "Security Fix upgrade required on acorn package 5.7.x/6.4.x/7.0.x"
From npm manifest on appliance I see that following acorn package versions are used in manageIQ. The following advisory: https://www.npmjs.com/advisories/1488 (source https://exchange.xforce.ibmcloud.com/vulnerabilities/177309) states that some of these listed packages have a DoS seurity vunerability. Upgrade the package to 5.7.4/7.0.1.

acorn	2.6.4	MIT - OK
acorn	3.3.0	MIT - OK
acorn	4.0.13	MIT -

[2020-09-03 18:43] Fryguy commented on #7289
@himdel What does it mean when the npm list has multiple versions?  Need your guidance on these.

[2020-09-03 18:44] Fryguy commented on #7289
I'm also surprised we aren't seeing this in the github alerts - https://github.com/ManageIQ/manageiq-ui-classic/network/alerts

[2020-09-03 18:50] Fryguy commented on #7286
Yeah, since we don't return the auth_key and auth_key_password for security reasons then the UI is presenting nothing.  After that the form sends back nil and we write it.  @NickLaMuro Does the above patch work all the way from the UI?  I would have expected the UI form to send the key with a literal null value.

Not sure what the right answer is here... I would assume we should follow the same pa

[2020-09-03 20:05] himdel commented on #7289
In our case, it means this...

`node_modules/acorn` = 6.4.1
`node_modules/jsdom/node_modules/acorn` = 5.7.4
`node_modules/ng-annotate/node_modules/acorn` = 2.6.4

It's probably irrelevant, because we're not using acorn on the appliance, it's a build dependency.
But, fixing this probably means upgrading webpack, jsdom and jest. The ng-annotate dependency won't go away, but we can get rid of ng-anno

[2020-09-03 20:12] himdel commented on #7289
Oh, and updating dependencies of patternfly 3 will also be problematic because there are no new versions.

[2020-09-03 20:20] himdel commented on #7289
Reading the vulnerability, I think we can close this, as this would only be exploitable by users who can rebuild assets on the appliance.

Also, versions 2.6.4, 5.7.4, 6.4.1 and 7.4.0 seem to be unaffected (@bhadrim can you update the versions to list the good ones, as well as the bad please?) so we're fine on master.

---

So, maybe all we need to do is `yarn upgrade` in jansa.

[2020-09-03 20:24] bhadrim commented on #7289
Affected and Unaffected versions are in https://www.npmjs.com/advisories/1488/versions

[2020-09-03 20:29] himdel commented on #7289
Thanks, updated the list :)

So, on master, if we do...

[code]

and `yarn upgrade`, the list simplifies to..

[code]

[2020-09-03 20:31] himdel commented on #7289
@bhadrim You're looking at a manifest from a built jansa appliance,
So far, I'm looking at how it looks on master.

[2020-09-03 20:37] himdel commented on #7289
For jansa, assuming my environment still has all the UI plugins, the situation looks like this:

[code]

[2020-09-03 20:43] himdel commented on #7289
`yarn upgrade` seems to help, after running it in all ui plugins (and the ui), the new situation is...

[code]

And those all seem unaffected.

[2020-09-03 20:54] himdel commented on #7289
Blasted out 6 PRs which should fix this in jansa, master is unaffected (because no `yarn.lock`).

* [ ] ManageIQ/manageiq-providers-lenovo#312
* [ ] ManageIQ/manageiq-providers-nuage#221
* [ ] ManageIQ/manageiq-providers-redfish#120
* [ ] #7290
* [ ] ManageIQ/manageiq-ui-service#1666
* [ ] ManageIQ/manageiq-v2v#1141

[2020-09-03 21:05] #491 closed

[2020-09-03 21:28] Fryguy commented on #7289
@himdel So I had asked @bashathadikela to open this as an example.  There are a _lot_ more of these, and each one of these may require similar upgrades.  What do you think is the best way forward?

[2020-09-03 21:29] Fryguy commented on #7289
Also, you sad "master in unaffected", but do we need this change: https://github.com/ManageIQ/manageiq-ui-classic/issues/7289#issuecomment-686746220 ?

[2020-09-03 21:45] himdel commented on #7289
We don't, I was confused about which versions were OK and which weren't, sorry :)

If anyone with master is affected, they only have to `rake yarn:clobber` or `yarn upgrade` to not be, doing a fresh `yarn` in the branch as is will only give us the OK versions.

Well, depends..
* we could skip development dependencies and only filter by webpack manifest
* we could review each vulnerability to evalu

[2020-09-03 21:58] NickLaMuro commented on #7286
If you look at the log output from this https://github.com/ManageIQ/manageiq-ui-classic/issues/7286#issuecomment-686175521 you will see it just include `userid: got` for the update yaml and none of the other changed fields, so I think we are good.

[2020-09-03 22:03] himdel commented on #5585
Problematic packages (any one of these may not be compatible without fixing, and is not maintained by anyone else):

@pf3/select - my fork of bootstrap-select (2018); we're overriding any dependencies on bootstrap-select with this package, needed until all select pickers use react (so, all forms really; also any miq-select in angular code)
@pf3/timeline - my fork of patternfly-timeline (2017); usi

[2020-09-03 22:04] himdel commented on #7289
@Fryguy Ultimately, I think the best way to get rid of JS security vulnerabilities is to get as many people as possible to go converting our old forms.

Even if we can get rid of most problematic packages, we can't actually upgrade jquery to v3 without also writing and releasing compatibility fixes for `@pf3/select`, `@pf3/timeline`, `bootstrap-switch`, `bootstrap-filestyle`, `eonasdan-bootstrap-d

[2020-09-03 22:34] Fryguy commented on #7289
The npm manifest on an appliance should be production dependencies only (@simaishi right?).  The webpack manifest tells us what things webpack actually used, but unfortunately, we can't tell which version webpack chose as that information is not available.  Maybe there's a something we can do when we generate the manifest to adjust that?  Or is there some post-thing we can run using the webpack ma

[2020-09-03 22:56] himdel commented on #7289
We could, I'm not sure if all kinds of build use the code in rpm-build to generate the manifests, but given the webpack manifest like...

[code]

we could do something like..

[code]

to generate the right version for each entry.

[2020-09-03 23:28] himdel commented on #7289
OK..

[code]

[code]

output
[code]

[2020-09-04 01:39] Fryguy commented on #7289
This is awesome... We can probably bake this right into the rpm build!  cc @simaishi

[2020-09-04 16:00] simaishi commented on #7289
@Fryguy Is this something that should be added only for rpm build?  I'm thinking if we want to change webpack_manifest.json generation process so the file comes out in that new format...?

[2020-09-04 16:25] simaishi commented on #7289
That was always my assumption. But, if acorn is a development dependency but included int the output, I'll have to double check.

[2020-09-04 17:57] Fryguy commented on #7289
That's a really good idea.  Let me see if I can add to the webpack_manifest.json generator.

[2020-09-04 23:06] Fryguy commented on #7289
Added @himdel's changes directly into the webpack manifest generator here: https://github.com/ManageIQ/manageiq-ui-classic/pull/7291

[2020-09-07 13:30] #7216 closed

[2020-09-08 15:06] #7277 closed

[2020-09-08 15:54] Fryguy commented on #7289
@bhadrim FWIW I don't see acorn in the final list that I generated in #7291

[2020-09-08 18:17] agrare commented on #7284
This has been implemented, thanks so much for the PR @kenneth88888 !

[2020-09-08 18:17] #7284 closed

[2020-09-09 08:34] rvsia commented on #7278
@skateman I can prepare basic components in DDF repo, it would be a great enhancement to our other mappers.

[2020-09-09 09:16] skateman commented on #7278
@rvsia go for it, I will help you out with the rest...

[2020-09-09 13:00] rvsia commented on #7278
I created an issue for Carbon mapper in DDF, you can follow the progress there https://github.com/data-driven-forms/react-forms/issues/795

[2020-09-09 19:17] NickLaMuro commented on #7286
Fixed via https://github.com/ManageIQ/manageiq/pull/20494

Closing...

[2020-09-10 19:21] NickLaMuro commented on #7286
Woops, not fixed via that PR, but this one:

https://github.com/ManageIQ/manageiq/pull/20524

Which is still open.  Reopening...

[2020-09-10 22:17] #7286 closed

[2020-09-11 15:57] bhadrim opened #7307 "Security upgrade required for lodash/angular/csv-parse"
Please review the following the security issues. I believe they are all applicable to ManageIQ. We are looking for fix on master and Jansa (N and N-1). Thank you.

Module: lodash
Issue: See https://nvd.nist.gov/vuln/detail/CVE-2020-8203
Versions affected: <= 4.17.15
Version used: 4.17.15 (affected in Jansa -- master uses 4.17.20)
Sev: High
https://github.com/ManageIQ/manageiq-ui-classic/pull/7290

[2020-09-11 16:17] bhadrim commented on #7307
@himdel What is the best way to look for the node modules with versions on ui-service? Would it be possible to add the webpack manifest for that too? Thank you

[2020-09-11 20:00] himdel commented on #7307
:+1: Done in https://github.com/ManageIQ/manageiq-rpm_build/pull/89 + https://github.com/ManageIQ/manageiq-ui-service/pull/1671 :)

[2020-09-11 20:03] himdel commented on #7307
Re angular, https://github.com/ManageIQ/manageiq-ui-classic/pull/6452. TLDR: we need a release of angular-patternfly compatible  with angular 1.8

[2020-09-11 20:05] himdel commented on #7307
We're not using npm at all, so we can ignore that one.
(Might as well increment the package.json engine entry though.)

[2020-09-11 20:07] himdel commented on #7307
Will be fixed by [yarn upgrade](https://github.com/ManageIQ/manageiq-ui-classic/issues/7289#issuecomment-686759850)

[2020-09-11 20:10] himdel commented on #7307
That one is from v2v...

[code]

I think the same yarn upgrde will work there as well.

[2020-09-15 05:50] Franklin-lab opened #7310 "CF_Infrastructure_VM_After_Uncheck_Not_To_Display_Button_UI_Still_Showing The Image Icon"
**Environment**: Version 5.11.5.2.20200422181830_c7107ec
**Description**: Uncheck the "Display on Button" option under Button, then went back to infrastructure Virtual Machine check the options, observed that Image Icon is showing.
**Steps To Reproduce:**
1. Login to CF.
2. Go to Automate customization option
3. Create Add a new Button Group.
4. Provide Basic info and choose some image icon
5. Cli

[2020-09-15 17:18] bhadrim commented on #7307
@himdel I believe  yarn upgrade

I believe this will update just master. This needs to be back ported to Jansa. Thank you

[2020-09-15 17:21] bhadrim commented on #7307
I believe the fix is on both Jansa and master. Please confirm.

Do we have a timeline on when this would be fixed.

Thank you.

[2020-09-16 11:10] himdel commented on #7307
Confirmed, as of 9/14, the fix is in jansa.

No, this is a long term issue, it may or may not involve a team of people to convert angular code.

[2020-09-16 14:06] Fryguy commented on #7310
@h-kataria Can you take a look?  Seems if you uncheck Display on Button, it's still showing?  Is there a cache/timing thing going on?

[2020-09-16 14:25] h-kataria commented on #7310
@Franklin-lab "Display on Button" option is used for whether to show the button text(label) on the button or not. If un-checked it should only display the icon without the text. Is it not working that way? If you do not want the button to show up in the UI, you should edit the button group and move the button to Unassigned button group.

[2020-09-16 16:58] Franklin-lab commented on #7310
@h-kataria The good product line point of view i am thinking that the expected behavior should be when you un-check the "Display on Button", anything related to that feature or page should be disabled. But i have observed that the image icon was showing which is basically bypassing button feature. When i check the API response i see the custom action as well. I am looking overall is that once the

[2020-09-16 17:18] bhadrim commented on #7307
@himdel Is there a plan to update the package.json for npm cli? If so please push on Jansa too. Thank you.

[2020-09-16 17:26] k-chu opened #7313 "Display description and target platform in Configuration Profiles for IBM Terraform"
Display description and target platform in Configuration Profiles for IBM Terraform. The target platform will only be displayed if it's not blank.

This is an enhancement. I will be working on this change.

[2020-09-16 18:00] Fryguy commented on #7289
@bhadrim Can we close this one?

[2020-09-16 19:09] #7289 closed

[2020-09-16 22:35] bhadrim commented on #7307
@himdel I did a local rpm build using downstream Jansa. lodash has the right version  but csv-parse still is in 2.5.0. Do you need to run anything on manageiq-v2v? 4.4.6 or higher fixes the security issue.

[2020-09-17 07:59] Franklin-lab opened #7314 "Typo_Error_During_In_Method_Validation"
**Environment** :  5.11.5.2.20200422181830_c7107ec
**Description**: During the validation of my method i have missed a closing bracket, it is showing message as **"Error on line 5: syntax error, unexpected tIDENTIFIER, expecting ')'**, i have observed that IDENTIFIER typo error. We need to remove the "t".

![Typo_Error_Validation_Error_Message](https://user-images.githubusercontent.com/68325936/93

[2020-09-17 13:19] chessbyte commented on #7314
This message is coming from the Ruby parser, not ManageIQ.
See examples [here](https://stackoverflow.com/questions/17507330/ruby-syntax-error-unexpected-tidentifier-expecting) and [here](https://www.ruby-forum.com/t/action-path-syntax-error-unexpected-tidentifier-expecting/182640)

[2020-09-17 13:19] #7314 closed

[2020-09-17 20:10] h-kataria commented on #7310
@Franklin-lab This is working as designed, to hide buttons from UI you need to move buttons into an "Unassigned Buttons" group. If you want to disable the button in UI, you can configure an expression(on Advanced tab) for buttons that are set to "Display for" as "Single entity" that can help you enable/disable the custom buttons based upon the expression.

[2020-09-21 09:49] skateman commented on #6917
@Maria-Cordero-ibm even though some API parts are missing, this should be a fairly easy one to convert to DDF. Until the NTP servers issue in the API is resolved, you can just ignore those three extra fields. Ping me if you need any information or if you don't like this one, just let me know and I can find something else for you.

[2020-09-21 12:27] jaywcarman commented on #7187
I'm looking at implementing cloud volume creation for the IBM Cloud PowerVS provider and am running into a similar situation (geared towards OpenStack Cinder, with some Amazon EBS jammed in: https://github.com/ManageIQ/manageiq-ui-classic/blob/master/app/assets/javascripts/controllers/cloud_volume/cloud_volume_form_controller.js#L282-L286).

This would be awesome - is there any plan to implement i

[2020-09-21 12:50] skateman commented on #7187
@jaywcarman I'd need a list (or a DDF schema) of common fields and a list (or DDF schema) of provider specific fields for each provider. But you're talking about Cloud Volumes, while this issue is about Networks and Subnets, should we create a separate issue to track it? There we could collect all the necessary data with fancy checkboxes :wink:

[2020-09-21 13:17] skateman commented on #6870
I don't see an edit feature for this form, only an add, even though there's an API endpoint for both. Anyway, this should be fairly easy, the request should be sent using `API.post('/api/auth_key_pairs', {...data})` when creating a new item.

[2020-09-21 13:19] skateman commented on #6876
Already converted to DDF

[2020-09-21 13:19] #6876 closed

[2020-09-21 13:19] skateman commented on #6850
Already converted to DDF

[2020-09-21 13:19] #6850 closed

[2020-09-21 13:19] skateman commented on #6857
Already converted to DDF

[2020-09-21 13:19] #6857 closed

[2020-09-21 13:19] skateman commented on #6858
Already converted to DDF

[2020-09-21 13:19] #6858 closed

[2020-09-21 13:24] skateman opened #7327 "DDF: Replace pubic key textareas with the file upload component"
The public key textareas used to be file upload components before the DDF conversion, however, there was no support for file upload in DDFv1. As now we're upgraded to DDFv2, there [is](https://data-driven-forms.org/mappers/file-input#heading-fileinput) a file input component and the textareas should be converted in OpenStack and oVirt.

[2020-09-21 13:47] skateman opened #7328 "Form conversion: Configuration Settings/Schedules (add, edit)"
Convert form to use DDF/React and API - parent issue #6825

Location: Configuration
Form: Settings/Schedules(node)

current type: Angular
API state: ManageIQ/manageiq-api#893

[2020-09-21 13:55] Franklin-lab opened #7329 "CF_Trying_To_Login_Showing_Proxy_Error Message"
**Environment Version:** 5.11.5.2.20200422181830_c7107ec
**Description**: Past couple of days observed that proxy error message whenever trying to login from UI. I have manually restart the appliance and start the EVM service then it is started working. I have attached production logs.

![CF_Login_Page_Proxy_Error_](https://user-images.githubusercontent.com/68325936/93775546-2a89c580-fc40-11ea-86c

[2020-09-21 18:30] jrafanie commented on #7329
[code]

@Franklin-lab I just noticed there's a failure/timeout connecting to memcached 20 seconds after the first two `/ems_infra/discover` requests.  We use memcached for session storage so if that's not running or fails, it could certainly cause issues, but I can't tell if they're related. Can you recreate this issue or do you have logs when it failed in the same way before?  I'd like either see

[2020-09-22 04:11] Franklin-lab commented on #7329
@jrafanie I have observed the same thing on September 10th and 11th i am attaching the production.log i hope this helps for your debugging.

[production.log-20200911.gz](https://github.com/ManageIQ/manageiq-ui-classic/files/5259132/production.log-20200911.gz)
[production.log-20200910.gz](https://github.com/ManageIQ/manageiq-ui-classic/files/5259134/production.log-20200910.gz)

[2020-09-22 12:51] jaywcarman opened #7334 "'Add a new Cloud Volume' form is vendor specific"
I'm implementing Cloud Volume creation in the [manageiq-providers-ibm_cloud](https://github.com/manageiq/manageiq-providers-ibm_cloud) (specifically for the PowerVirtualServers::StorageManager). The 'Add a new Cloud Volume' - [form](https://github.com/ManageIQ/manageiq-ui-classic/blob/master/app/assets/javascripts/controllers/cloud_volume/cloud_volume_form_controller.js#L282-L286) is specific to O

[2020-09-22 15:00] skateman commented on #7334
Just for the record, what providers have `CloudVolume` entities?

[2020-09-22 16:32] jaywcarman commented on #7334
I cloned ManageIQ/manageiq-providers-* and used grep/find (is there a better way to search through MIQ plugins?).

Only Amazon, OpenStack and IBM Cloud have implemented CloudVolume creation:
- Amazon EBS, manageiq-providers-amazon:
https://github.com/ManageIQ/manageiq-providers-amazon/blob/master/app/models/manageiq/providers/amazon/storage_manager/ebs/cloud_volume.rb
- IBM Cloud PowerVS, manageiq

[2020-09-22 17:51] jrafanie commented on #7329
Ok, in the 20200911 logs, there's a different request that is hung.

[code]

I'll see if I can recreate this.

[2020-09-22 18:53] jrafanie commented on #7329
@Franklin-lab Note, your memcached service running locally on port 112111 is frequently down.  I don't know if it's related but you should look at journal and /var/log/messages to see why it's failing.

[code]

[2020-09-23 08:03] skateman commented on #7334
Okay, so now I need to know the specifics of each `CloudVolume` form, i.e. the schemas for each provider.

[2020-09-23 13:53] himdel commented on #7307
Ah, manageiq-v2v depends on csv `^2.0.0`, and `node_modules/csv/package.json:    "csv-parse": "^2.0.0",` .. the csv package depens on csv-parse 2, therefore 4.4.6 is not suitable.

We can updating the version manually, the API looks the same.. https://github.com/ManageIQ/manageiq-v2v/pull/1144

[2020-09-23 15:41] jrafanie commented on #7329
@Franklin-lab I'm not able to recreate this.  Does this happen every time you restart?  Is this happening in pods or appliances?

[2020-09-23 16:47] DavidResende0 opened #7335 "Inconsistent Helper Text for password-field"
<img width="1240" alt="Screen Shot 2020-09-23 at 12 45 29 PM" src="https://user-images.githubusercontent.com/64800041/94043390-dba47300-fd9a-11ea-9eb3-0429483ebeab.png">

@miq-bot assign @skateman
@miq-bot add_label bug, react

[2020-09-24 05:54] Franklin-lab commented on #7329
@jrafanie It is an appliance. It is not because of restarting the appliance. During the activity like provisioning suddenly it is happening. I exactly don't know when this is happening.

[2020-09-24 19:11] #7335 closed

[2020-09-28 13:40] Franklin-lab commented on #7329
@jrafanie Yesterday and today also we have found the same issue, please let me do you need any other specific log apart from Production.log?

[2020-09-28 14:59] jrafanie commented on #7329
@Franklin-lab you can try this:

https://guides.rubyonrails.org/threading_and_code_execution.html#actiondispatch-debuglocks

Basically, we can run rails with tracking of locks used when it loads code dynamically, and if it hits a deadlock, you can get a list of threads and their current code location.  Note, if all 5 puma threads get locked, you won't be able to get the information as they'll all

[2020-09-28 19:22] gtanzillo commented on #4921
Closing since we now have cross repo tests

[2020-09-28 19:22] #4921 closed

[2020-09-28 23:46] bhadrim opened #7350 "Security Issue: Upgrade node to 12.18.4 - CVE-2020-8201 and CVE-2020-8252"
Module: Node
Issue: Multiple issues
Version on Pod that is affected: 12.18.3
Sev: High

Reference: https://nodejs.org/en/blog/vulnerability/september-2020-security-releases/

Fix needed on all images that has node installed.

[2020-09-29 12:58] himdel commented on #7350
This is not a UI issue, this is about the version of the node js rpm.

Cc @simaishi

[2020-09-29 13:11] simaishi commented on #7350
CVE-2020-8251 (High) isn't an issue in v12 as per https://access.redhat.com/security/cve/cve-2020-8251

For 8201 (severity not assigned yet) and 8252 (Low): same as postgresql CVE fixes, we can take the fixes only after new RPM has been released, which hasn't happened yet...

[2020-09-29 13:38] jrafanie commented on #7329
@Franklin-lab one more step I forgot to mention is you should decrease the number of ui workers in the configuration in your test/dev environment so there's only 1 UI worker to ensure the UI you're hitting in `/rails/locks` is the 1 UI worker that is currently stuck on a deadlock.

[2020-09-29 13:50] Franklin-lab commented on #7329
@jrafanie I would like to talk to you separately in order to follow your steps.

[2020-09-29 14:36] h-kataria commented on #6908
Converted in https://github.com/ManageIQ/manageiq-ui-classic/pull/5614

[2020-09-29 14:41] h-kataria commented on #6894
Converted in https://github.com/ManageIQ/manageiq-ui-classic/pull/5180

[2020-09-29 17:47] agrare opened #7353 "Provider Pluggability in Provision Dialogs"
The [provision dialogs](https://github.com/ManageIQ/manageiq-ui-classic/blob/master/app/views/shared/views/_prov_dialog.html.haml) are filled with calls to specific provider workflow classes such as:
`keys = wf.kind_of?(ManageIQ::Providers::Redhat::InfraManager::ProvisionWorkflow)` [[ref](https://github.com/ManageIQ/manageiq-ui-classic/blob/master/app/views/shared/views/_prov_dialog.html.haml#L33)

[2020-09-29 17:56] skateman commented on #7353
The same provisioning dialogs are being rendered for service templates (catalog items) on a per-provider basis, so after I convert those to react, this should be fairly easy.

related issue https://github.com/ManageIQ/manageiq/issues/20603

[2020-09-29 19:27] h-kataria commented on #6580
As discussed in the meeting, closing this issue. This will be resolved by https://github.com/ManageIQ/manageiq-ui-classic/issues/6819

[2020-09-29 19:27] #6580 closed

[2020-09-30 05:42] prkurade commented on #7329
This issue was reproduced again today. Attaching the latest log file here.
[production.log](https://github.com/ManageIQ/manageiq-ui-classic/files/5303305/production.log)

[2020-09-30 14:37] skateman opened #7358 "a11y: Make the main menu accessible"
Keyboard navigation:
* [x] First level https://github.com/ManageIQ/manageiq-ui-classic/pull/7315
* [x] Jumping to the second level after opening it https://github.com/ManageIQ/manageiq-ui-classic/pull/7467
* [x] Hiding the second level https://github.com/ManageIQ/manageiq-ui-classic/pull/7406
* [x] Expanding/collapsing https://github.com/ManageIQ/manageiq-ui-classic/pull/7374
* [x] Add tooltip for

[2020-09-30 14:38] skateman opened #7359 "a11y: Make the list views accessible"

[2020-09-30 14:39] skateman opened #7360 "a11y: Make the toolbars accessible"
The toolbar buttons itself are accessible, but the dropdown items are only highlightable by using the arrow keys. I'm not sure if that's a good thing, so I need some guidance here. We also might need some additional aria/role attributes on them, will find that out.

[2020-09-30 14:39] skateman opened #7361 "a11y: Make the textual summary screens accessible"

[2020-09-30 14:40] skateman opened #7362 "a11y: Make the tabbed views accessible"
Tab seems to be working, I haven't bumped into any of them that were not accessible via keyboard. We might need some aria/role attributes on them, but that's all probably.

[2020-09-30 14:40] skateman opened #7363 "a11y: Make the non-summary info screens accessible"

[2020-09-30 14:42] skateman opened #7364 "a11y: Make the compare screens accessible"
Compare screens are using a combination of treeviews, treegrid and custom piecharts. We should probably rewrite/refactor the whole codebase because they are rendered by building a `table` in the backend...

[2020-09-30 14:43] skateman opened #7365 "a11y: Make the overview dashboard accessible."
The kebab buttons on the dashboards seem to be accessible via keyboard, but not sure how much we could do with the piecharts. Maybe carbon has a nice way of sorting this out, so this might be a good time to convert the dashboards and the charts to react/carbon from our angular/pf3.

[2020-09-30 14:43] skateman opened #7366 "a11y: Make the treeviews accessible"
* [x] Adding `tabIndex` and `onKeyPress` properties upstream - https://github.com/brumik/react-wooden-tree/pull/51
* [x] Consuming the newly released version in our codebase - https://github.com/ManageIQ/manageiq-ui-classic/pull/7417

[2020-09-30 14:44] skateman opened #7367 "a11y: Make the notification drawer accessible"
Not accessible at all, the tabindex is set to `-1` globally.

[2020-09-30 15:32] jrafanie commented on #7329
Thanks @prkurade.  This log looks different.  I see no warnings about long running http(s) requests but I do see a code loading problem:

[code]

It's possible that it's the same code loading problem but in a slightly different area, so it didn't deadlock.

[2020-09-30 15:34] jrafanie commented on #7329
Note, I am able to confirm there is a circular dependency issue that might be causing this to fail to load "sometimes"

[code]

[2020-09-30 17:54] jrafanie commented on #7329
@prkurade in your test environment, can you try making the change below:

On an appliance, this file will be in /var/www/miq/vmdb/app/models/mixins/miq_web_server_worker_mixin.rb

[code]

On about line 25 or so, the method should look like this:

[code]

I couldn't recreate the issue in my web ui but I see how it's possible that if 2+ threads try to dynamically load `/var/www/miq/vmdb/app/channels

[2020-09-30 18:00] jrafanie commented on #7329
@Franklin-lab @prkurade I don't know if the issue from the comments today is the underlying cause for https://github.com/ManageIQ/manageiq-ui-classic/issues/7329#issuecomment-696291760 or https://github.com/ManageIQ/manageiq-ui-classic/issues/7329#issuecomment-696879636 so please let me know what you find.

[2020-09-30 21:34] Franklin-lab commented on #7329
@jrafanie I have added the two mentioned lines and restarted the appliance next time when we observe we will download the production.log and update here.

[2020-10-01 09:00] skateman commented on #7334
I guess these fields will be common for each provider and they will be living in the JS schema:
[code]

These fields are amazon-specific and will be populated via the API and they have to be defined in the Ruby model:
[code]

@agrare I have some questions inside the schema as comments, can you please answer them?

[2020-10-01 14:12] jrafanie commented on #7329
@Franklin-lab if you still get WARN message in the logs with "Long running http(s) request", you'll need to enable the `/rails/locks` middleware and recreate it as described in https://github.com/ManageIQ/manageiq-ui-classic/issues/7329#issuecomment-700062720.  You can find me on https://gitter.im/ManageIQ/manageiq with the same handle if you have any questions.

[2020-10-01 20:37] #6871 closed

[2020-10-01 20:39] #6829 closed

[2020-10-02 08:43] skateman opened #7373 "Styling issue with active item on hover in the 2nd level of the main menu"
![Screenshot from 2020-10-02 10-38-33](https://user-images.githubusercontent.com/649130/94904733-0c239580-049c-11eb-980c-d5b1dc0f8449.png)

cc @kavyanekkalapu

[2020-10-02 09:11] skateman commented on #7358
@kavyanekkalapu you mentioned on the last meeting that the second level of the menu is not accessible, this is not completely true, the problem is that it is accessible only after going through all the elements in the first level. This is because the second level isn't interleaving into the existing menu structure, but we create a new one. The straightforward solution would be to have a nested mar

[2020-10-02 12:01] agrare commented on #7334
Volume Types
Looks like the list is AWS specific, but OpenStack also collects CloudVolumeTypes.  Probably should be required for aws with a default of gp2 and not required otherwise

IOPS - from AWS API Docs

    The number of I/O operations per second (IOPS) to provision for an io1 or io2 volume, with a maximum ratio of 50 IOPS/GiB for io1, and 500 IOPS/GiB for io2. Range is 100 to 64,000 IOPS fo

[2020-10-02 12:31] skateman commented on #6835
The new component should also support accessibility, added it to the list of tasks there.

[2020-10-02 12:44] jaywcarman commented on #7334
Here's a first draft of the IbmCloud::PowerVirtualServers schema. I still own you an OpenStack schema.
[code]

[2020-10-02 12:46] skateman commented on #7278
There are a few [issues](https://github.com/data-driven-forms/react-forms/issues/795#issuecomment-690191764) that @rvsia found:
* There's no way to add `isRequired`, as Carbon doesn't define the `*` but rather the (optional) on fields. We should update the label for each element for all non-required fields. Or maybe create a wrapper component that fixes this (preferred IMO).
* There's no way to cl

[2020-10-02 13:31] skateman opened #7376 "Form conversion: Add/edit ansible credentials"
Convert form to use DDF/React and API - parent issue https://github.com/ManageIQ/manageiq-ui-classic/issues/6825

**Location:** Automation -> Ansible -> Credentials
**Current type:** Angular
**API state:** available
**Notes:** dynamic schema

[2020-10-02 13:42] skateman commented on #7334
Yeah, the ruby schema above is for AWS only, the rest will come later from @jaywcarman

I'm hiding it for everything else already

[2020-10-02 13:47] skateman commented on #7334
I'm curious if the size for each provider is in the same unit? We're storing an integer, but I am guessing that the angular form multiplies up the number for Amazon at least. I'm just worried about the collision of different units (megabytes, gigabytes, etc) among providers here.

I'd not want to do the multiplication on the frontend at all, but show the raw value and use a `steps` parameter on th

[2020-10-02 13:51] agrare commented on #7334
The value of `CloudVolume#size` is bytes, ideally we would pass everything down in bytes and if a provider requires gigabytes they can convert it.

[2020-10-05 08:55] skateman commented on #7334
@DavidResende0 your ansible credential form also had dynamic schema, this one would be something similar. The only difference is that the current form is not dynamic. I guess this should be easy to do for you, wdyt?

[2020-10-05 09:02] skateman commented on #6861
@agrare how much is this form tied to be a single provider? Trying to determine how much is this analogous with the [Cloud Network](https://github.com/ManageIQ/manageiq-ui-classic/issues/7187) form and decide if we need an API-provided schema or just a [conditional single field](https://github.com/ManageIQ/manageiq-ui-classic/pull/7383) based on a supports call.

[2020-10-05 09:43] jaywcarman commented on #6861
There are actually quite a few differences between the existing form and the `IbmCloud::PowerVirtualServers` API parameters - we ignore some fields and are only able to support our API's public or private network type (not both). #7383 is intended to be the absolute minimum UI change required in order to get _some_ initial functionality.

[2020-10-05 10:16] skateman commented on #6861
@jaywcarman thanks, after we finalized the schemas in https://github.com/ManageIQ/manageiq-ui-classic/issues/7334, we can specify the schema differences in this case as well.

[2020-10-05 10:22] skateman commented on #7226
@gtanzillo the catalog form is API-driven, so I am suspecting this is an example of https://github.com/ManageIQ/manageiq/issues/19110

[2020-10-05 21:12] bhadrim opened #7390 "webpack_packages_manifest_service_ui.json is empty"
In Jansa build webpack_packages_manifest_service_ui.json is empty. All other manifest file has data in them.

@himdel fyi ...

[2020-10-05 23:03] #6394 closed

[2020-10-06 07:56] skateman commented on #6845
@Maria-Cordero-ibm do you think you can handle this? The current implementation is rendered in the `app/views/shared/views/_retire.html.haml` and it should be replaced there with a React component. API seems to be fully implemented, there's a [`request_retire`](https://www.manageiq.org/docs/reference/latest/api/reference/services.html#service-retiring-future) API endpoint that should just work.

Y

[2020-10-06 08:02] skateman commented on #6849
This is basically the same as https://github.com/ManageIQ/manageiq-ui-classic/issues/6849 so if you do one of them, it's an additional one-line change to do the other one. The related file is `app/views/orchestration_stack/retire.html.haml`

[2020-10-06 08:06] skateman commented on #6856
![Screenshot from 2020-10-06 10-04-43](https://user-images.githubusercontent.com/649130/95175173-65046e00-07bb-11eb-9469-2976288305e8.png)
![Screenshot from 2020-10-06 10-05-06](https://user-images.githubusercontent.com/649130/95175195-6d5ca900-07bb-11eb-9db4-8d135130ace9.png)

@agrare does this form even make sense? I think it could be deleted and we can just edit the provider and change the pass

[2020-10-06 08:11] skateman commented on #6875
This is also a form that might be provider-specific for some fields, so I'm asking @agrare if it's so or we can just convert it?
The API doesn't exist for creating/editing/deleting so I created an issue for that https://github.com/ManageIQ/manageiq-api/issues/901

[2020-10-06 08:29] skateman commented on #6877
This form is a visual disaster :laughing: :cry: maybe we need to deal with the UX first cc @gtanzillo

Also the API endpoint is missing https://github.com/ManageIQ/manageiq-api/issues/902

[2020-10-06 08:31] skateman commented on #6937
@himdel isn't this the duplicate of https://github.com/ManageIQ/manageiq-ui-classic/issues/6877 ?

[2020-10-06 08:33] skateman commented on #6935
@h-kataria I guess this is gone since the we no longer have the quadicons
@miq-bot add_label question

[2020-10-06 08:35] skateman commented on #6838
Do we really need these boxes? Couldn't we just simply put them right after each other?
![Screenshot from 2020-10-06 10-35-05](https://user-images.githubusercontent.com/649130/95178348-a0a13700-07bf-11eb-87dc-69b4b2acee0a.png)

@miq-bot add_label question

[2020-10-06 08:40] skateman commented on #6934
Seems like the API has everything we need, under `/api/users/<id>` there's a `settings` attribute that contains everything and we are able to edit it as well. I don't think the subform-boxes are really necessary (see the issue linked above) and the only thing we need to deal with is these nice icons as DDF doesn't support them:
![Screenshot from 2020-10-06 10-37-06](https://user-images.githubuserc

[2020-10-06 08:43] skateman commented on #6923
Probably fixed by https://github.com/ManageIQ/manageiq-ui-classic/pull/5233 as it is a duplicate of https://github.com/ManageIQ/manageiq-ui-classic/issues/6888

[2020-10-06 08:43] #6923 closed

[2020-10-06 08:50] skateman commented on #6919
There's an API endpoint for setting/enabling the logos, but not for uploading the files https://github.com/ManageIQ/manageiq-api/issues/903

[2020-10-06 08:52] skateman commented on #6921
The two chargeback forms have been merged, so I'm closing this in favor or https://github.com/ManageIQ/manageiq-ui-classic/issues/6920

[2020-10-06 08:52] #6921 closed

[2020-10-06 08:54] skateman commented on #6920
![Screenshot from 2020-10-06 10-52-40](https://user-images.githubusercontent.com/649130/95180339-21f9c900-07c2-11eb-8cab-65ed64e890f5.png)

We could possibly implement this using a `FieldArray` and maybe a few custom components, but I'd rather work on the UX first and see what could be done here to have this nicely. cc @gtanzillo

[2020-10-06 08:55] skateman commented on #6840
I would prefer not having this component at all and rework the UX for the affected 2 forms instead, see [here](https://github.com/ManageIQ/manageiq-ui-classic/issues/6920#issuecomment-704129255).

[2020-10-06 09:34] skateman commented on #6847
Not all VMs support this feature and it's only available from the summary screen under workloads. The API endpoint is missing https://github.com/ManageIQ/manageiq-api/issues/904

[2020-10-06 09:41] skateman commented on #6851
I am not entirely sure if this form is useful at all, it can only discover providers in a `/24` or smaller IPv4 subnet:
![Screenshot from 2020-10-06 11-38-02](https://user-images.githubusercontent.com/649130/95185177-ac452b80-07c8-11eb-928c-4f18d016dec1.png)

@Fryguy @agrare is this something we could get rid of? Or should it be more generic and with IPv6 support?
@miq-bot add_label question

[2020-10-06 09:47] skateman commented on #6852
There was a feature request back in the day for provider-specific credentials in this form, so this could be rewritten the same way as the provider forms. There are some necessary changes in the API and core first https://github.com/ManageIQ/manageiq-api/issues/906

[2020-10-06 09:47] skateman commented on #6852
There was a feature request back in the day for provider-specific credentials in this form, so this could be rewritten the same way as the provider forms. There are some necessary changes in the API and core first https://github.com/ManageIQ/manageiq-api/issues/906

[2020-10-06 09:52] skateman commented on #6854
The form is fairly easy, but the API endpoint is completely missing https://github.com/ManageIQ/manageiq-api/issues/907

[2020-10-06 09:57] skateman opened #7392 "Form conversion: Compute/Infra/PXE/System Image Types Add/Edit"
Convert form to use DDF/React and API - parent issue https://github.com/ManageIQ/manageiq-ui-classic/issues/6825

**Location**: Compute/Infra/PXE System Image Types
**Form**: Add new System Image Type
**API**: None

[2020-10-06 10:05] skateman opened #7393 "Form conversion: Compute/Infra/PXE ISO Datastores Edit ISO image"
Convert form to use DDF/React and API - parent issue https://github.com/ManageIQ/manageiq-ui-classic/issues/6825

**Location**: Compute/Infra/PXE ISO Datastores (Select an image)
**Form**: Edit this ISO image
**API**: WIP - https://github.com/ManageIQ/manageiq-api/issues/910 - https://github.com/ManageIQ/manageiq-api/pull/999

[2020-10-06 10:28] skateman opened #7394 "Redundancy of the word `Network` in the `Network` section of the main menu"
The `Network` word in our menu is either too much or not enough, we should decide which way we go and keep it consistent...

![Screenshot from 2020-10-06 12-27-18](https://user-images.githubusercontent.com/649130/95190245-4c9e4e80-07cf-11eb-8dfa-353eec6652ff.png)

[2020-10-06 10:31] skateman commented on #6862
Would the routers have anything provider-specific or the form can be just the same for all of them? @agrare

API endpoint seems to be available, there's no edit function so the `*gpd` verbs should be sufficient.

[2020-10-06 10:36] skateman commented on #6866
Instead of the `table with switches and value inputs` we could use a `FieldArray` component.

The API seems to be available under `/api/tenants/X/quotas`.

[2020-10-06 10:50] skateman commented on #6867
API endpoint is completely missing https://github.com/ManageIQ/manageiq-api/issues/911

![Screenshot from 2020-10-06 12-49-16](https://user-images.githubusercontent.com/649130/95192408-7442e600-07d2-11eb-922b-ebd69e6cae2e.png)

@agrare the availability zone name is a textfield here, is that correct? Shouldn't it be a dropdown?

[2020-10-06 10:50] skateman commented on #6868
API endpoint is completely missing https://github.com/ManageIQ/manageiq-api/issues/911

[2020-10-06 10:51] skateman commented on #6869
API endpoint is completely missing https://github.com/ManageIQ/manageiq-api/issues/911

Maybe we could join the add/remove host into a single form under https://github.com/ManageIQ/manageiq-ui-classic/issues/6867 and use a `FieldArray`.

[2020-10-06 11:01] skateman commented on #6872
The API endpoint is definitely there as the current angular form is already using it. We could use `FieldArray` instead of the table with inputs. The file upload seems tricky, but it's actually not that hard to implement in DDF.

[2020-10-06 11:14] skateman commented on #6874
There's definitely two implementations and their access is confusing:
![Screenshot from 2020-10-06 13-12-41](https://user-images.githubusercontent.com/649130/95194536-aefa4d80-07d5-11eb-923f-8b1ed9ecf697.png)

The second button opens a modal, I am suspecting it is defined in a provider repo and it's already talking to the API so I guess here we will definitely need to specify which provider can do

[2020-10-06 11:32] skateman commented on #6880
API endpoint is completely missing https://github.com/ManageIQ/manageiq-api/issues/913
components are available

[2020-10-06 11:33] skateman commented on #6879
API endpoint is completely missing https://github.com/ManageIQ/manageiq-api/issues/913
components are available

[2020-10-06 11:36] skateman commented on #6878
There are two features here:
* initiating a database backup towards a depot
* initiating the database garbage collection (vacuum) process

Do we really need these features? Isn't this something that should be only available through the `appliance_console`? @Fryguy @agrare

[2020-10-06 11:39] skateman commented on #6918
@h-kataria @himdel I can't find this form based on the description, was this removed?

[2020-10-06 11:41] skateman commented on #6941
This has been deleted from the UI

[2020-10-06 11:41] #6941 closed

[2020-10-06 11:42] skateman commented on #6943
API endpoint is available at `/api/zones/X/settings`

[2020-10-06 11:44] skateman commented on #6938
I am suspecting that there was a bug on OPS page with tabs when we were creating these issues, because this seems not accessible under zones. Something similar to this https://github.com/ManageIQ/manageiq-ui-classic/issues/6918

@h-kataria @himdel can you please verify?

[2020-10-06 11:48] skateman opened #7395 "Form conversion: Configuration Settings/Servers/Advanced"
Convert form to use DDF/React and API - parent issue https://github.com/ManageIQ/manageiq-ui-classic/issues/6825

**Location**: Configuration
**Form**: Settings/Servers/Advanced
**API**: `/api/servers/X/settings`

[2020-10-06 11:49] skateman commented on #7395
Similar to https://github.com/ManageIQ/manageiq-ui-classic/issues/6943

[2020-10-06 13:10] h-kataria commented on #6935
@skateman that's right, most of the fields from this tab were deleted after grid/tile removal from product. Closing this issue.

[2020-10-06 13:10] #6935 closed

[2020-10-06 13:16] chessbyte commented on #6856
I wonder if this goes out and resets the password on the target.  A standard Change Password form is probably good to have in our arsenal that we can re-use all over. /cc @Fryguy

[2020-10-06 13:20] chessbyte commented on #6851
I vote to remove this feature.

[2020-10-06 13:24] chessbyte commented on #7394
Agree!  `s/Network //`

[2020-10-06 13:28] chessbyte commented on #6878
agree with @skateman - less is more!

[2020-10-06 13:40] h-kataria commented on #6918
![Screenshot from 2020-10-06 09-40-12](https://user-images.githubusercontent.com/3450808/95209129-fd98ef00-07b7-11eb-9a72-c96736c99fe0.png)

[2020-10-06 13:42] skateman commented on #6856
@chessbyte this one expects the current password, meanwhile the edit provider doesn't. Theres also validation on the edit provider and here it just asks for the password twice, so it's a nice place to mess up the provider credentials ...

[2020-10-06 14:11] #7394 closed

[2020-10-06 14:19] skateman opened #7397 "Form conversion: Configuration/Region/Help Menu"
**Location:** Configuration/Region/Help Menu
**API:** `/api/servers/X/settings`

The form is actually changing the configuration server and not for the whole region, so it should be moved as a separate tab under the `Server` nodes instead.

![Screenshot from 2020-10-06 16-17-50](https://user-images.githubusercontent.com/649130/95213808-81ba9900-07ef-11eb-92f0-acc8482fa71c.png)

[2020-10-06 14:28] skateman commented on #6878
The backup settings can be imported from a scheduled backup created under `Settings -> Schedules`. If I select a schedule from the list of available DB backup schedules, it prefills me the form below. So the two features are tied together, can the feature still be deleted?

![Screenshot from 2020-10-06 16-27-45](https://user-images.githubusercontent.com/649130/95215087-e4606480-07f0-11eb-8667-7bd1

[2020-10-06 14:37] chessbyte commented on #6878
@Fryguy does this even work in podified?  should we remove these non-core features?

[2020-10-06 16:24] iv1111 opened #7400 "Inconsistency between front- and back-end on the "Volumes" Provisioning Tab"
**How to trigger**
1. user adds several volumes
2. in one of the sections omits name and/or size
3. then moves to a different tab.
4. moves back to volumes tab

![image](https://user-images.githubusercontent.com/69972357/95228526-bc2c3200-07ff-11eb-8022-6b1e6079e32a.png)

Then everything after the first section with ommited name and/or size will become invisible. The back-end code in the provision

[2020-10-06 17:25] agrare commented on #6851
I don't know how often this is used...but we could get rid of a bunch of port-scanning discovery code if we dropped this :+1:

[2020-10-06 17:28] chessbyte commented on #6851
this is literally scanning the network for virtual infrastructure (vSphere, RHV, OpenStack, and SCVMM) endpoints.  Do we really have customers that do not know where these are in their datacenter??

[2020-10-06 18:47] jaywcarman commented on #7400
Here's a screen recording of the manageiq-providers-openstack VM provisioning form (|master|cb99b638ce| manageiq, not overriding plugins). My screen recorder didn't capture my mouse - I'm happy to show you live or collect any data that's useful.

![miq-vol-create](https://user-images.githubusercontent.com/1637291/95246569-4c578080-07da-11eb-97b7-9601a2ce9985.gif)

I'm using Google Chrome Version 8

[2020-10-07 21:25] himdel commented on #7390
Seeing the same thing, both in jansa and on master.

The code is the same in ui-classic and ui-service, but SUI webpack config uses `context: 'client/'` so while ui-classic modules paths start with `./node_modules`, the SUI paths end up as `../node_modules`, making the plugin try and fail to find the packages outside SUI root.

[2020-10-08 11:05] #7390 closed

[2020-10-08 14:47] #7359 closed

[2020-10-10 09:04] skateman commented on #7044
Resolved with updating to DDFv2

[2020-10-10 09:04] #7044 closed

[2020-10-10 09:06] skateman commented on #7038
@bsogithub we updated out provider forms and this issue should be resolved. Feel free to reopen if you can still reproduce it.

[2020-10-10 09:06] #7038 closed

[2020-10-10 09:11] skateman commented on #6839
I don't really know what this is, can we have a screenshot?

[2020-10-10 09:16] skateman commented on #6837
![Screenshot from 2020-10-10 11-13-21](https://user-images.githubusercontent.com/649130/95651285-9fd31280-0ae9-11eb-9ddc-17aa6be84a1a.png)

I think this is just UX candy and IMO it doesn't deserve a dedicated component. We could replace the dropdown with a dual list select:
![Screenshot from 2020-10-10 11-14-56](https://user-images.githubusercontent.com/649130/95651336-fdfff580-0ae9-11eb-946a-128d

[2020-10-10 09:18] skateman commented on #6836
Implemented in react-ui-components https://github.com/ManageIQ/react-ui-components/pull/124

[2020-10-10 09:18] #6836 closed

[2020-10-10 09:19] skateman commented on #6834
This can be easily done with a `FieldArray`, no need for adding an extra component.

[2020-10-10 09:19] #6834 closed

[2020-10-10 09:19] skateman commented on #6833
Already exists

[2020-10-10 09:19] #6833 closed

[2020-10-10 09:21] skateman commented on #6832
Can be done using `inputAddon` in DDF

[2020-10-10 09:21] #6832 closed

[2020-10-10 09:22] skateman commented on #6831
https://data-driven-forms.org/mappers/checkbox-multiple?mapper=pf3

[2020-10-10 09:22] #6831 closed

[2020-10-10 09:25] skateman commented on #6830
![Screenshot from 2020-10-10 11-23-21](https://user-images.githubusercontent.com/649130/95651482-06a4fb80-0aeb-11eb-87ad-b294cec3e42c.png)

https://data-driven-forms.org/components/form-template#heading-customizeformbuttons

[2020-10-10 09:25] #6830 closed

[2020-10-11 07:35] skateman opened #7412 "Rewrite the main menu state management to use Redux"
The main menu has a lot of shared state among sub-components and it's getting hard to follow which state variable or setter should be (or should not be) passed to the child components. Also some pieces of the state could be a nice to have if they would be available globally.

So I am going to rewrite the main menu components to use Redux for their state management.

@himdel please let me know if t

[2020-10-11 12:14] jaywcarman commented on #7334
I believe Cloud Volume Type, and Size are common to all three providers.

Here's a schema for OpenStack:
[code]

[2020-10-12 13:07] agrare commented on #6867
@skateman :+1: yes it should

[2020-10-12 13:11] agrare commented on #6874
@skateman looks like OpenStack and NSX-t have `create_security_group` implemented, the provider modal is probably coming from NSX-t

[2020-10-12 13:20] agrare commented on #6856
@skateman this is an ems_operation that changes the password of the target provider, not just the password in our database.

[2020-10-12 14:34] himdel commented on #7412
Yeah, it is a bad idea :).

There is only one piece of menu state that would make sense in redux .. that's the constant array of menuitems.
The rest is just callbacks (which can't live in redux), and bools about what's hidden. I don't see much of a point..

[2020-10-12 14:49] #7366 closed

[2020-10-12 16:14] himdel commented on #6937
It is :+1:

[2020-10-12 16:14] #6937 closed

[2020-10-12 17:48] Fryguy commented on #6856
Agreed on a component that is common.

We don't do this for any other provider...should we do it here?

[2020-10-12 17:52] agrare commented on #6856
Not sure what you mean, should we support this operation for the Lenovo provider?  They added it as a feature so I think so yes

[2020-10-12 18:02] Fryguy commented on #6878
No idea... perhaps @jrafanie or @NickLaMuro might have more insight?

I think I'd be +1 for dropping backup support and having users go through either appliance console or some other prescribed method for pods, however one of the features is _scheduled_ backup, which isn't available via appliance console.  I'm not even sure it is possible there alone since schedules are part of the schedule worker

[2020-10-12 18:06] Fryguy commented on #6851
We did in the past...port scanning a network was a great way to find rogue vspheres.  The backend code can scan _any_ subnet range so that `/24` limitation is UI-only...that is, we could open it up if we wanted and I don't know why the UI is limited in that way.

I kind of like the feature and don't think we should drop it, personally, but perhaps maybe it should be changed in some way?  That is,

[2020-10-12 18:08] Fryguy commented on #6856
Yeah, I'm wondering if we should remove that feature from the Lenovo plugin since they are the only group that implemented it?  Or should we add that as a future-feature to all of the other plugins?

[2020-10-12 18:39] skateman commented on #6851
I'd be happy to :scissors: delete this from the UI

[2020-10-12 18:47] chessbyte commented on #6851
from a UX perspective, if the admin does not know about the vSpheres, they likely won't have the credentials - so adding the EMS sounds like overkill.  For that reason, I do like the report idea - but not sure on level of effort for that.

[2020-10-13 19:21] #6841 closed

[2020-10-14 11:05] skateman commented on #7397
API is read-only https://github.com/ManageIQ/manageiq-api/issues/920

[2020-10-14 11:06] skateman commented on #6918
API is read-only https://github.com/ManageIQ/manageiq-api/issues/920

[2020-10-14 11:06] skateman commented on #6919
API is read-only https://github.com/ManageIQ/manageiq-api/issues/920

[2020-10-14 11:07] skateman commented on #6943
API is read-only https://github.com/ManageIQ/manageiq-api/issues/920

[2020-10-14 11:07] skateman commented on #6938
API is read-only https://github.com/ManageIQ/manageiq-api/issues/920

[2020-10-14 11:08] skateman commented on #7395
API is read-only https://github.com/ManageIQ/manageiq-api/issues/920

[2020-10-14 11:36] skateman commented on #7334
This is kinda blocked by https://github.com/ManageIQ/manageiq-api/issues/918

[2020-10-14 11:38] skateman commented on #6861
Blocked by https://github.com/ManageIQ/manageiq-api/issues/918

[2020-10-14 11:40] #6891 closed

[2020-10-14 12:06] skateman opened #7422 "Make all react forms API-driven"
The react-conversion of some forms was blocked by missing or buggy API endpoints, so the legacy endpoints were altered to behave like API endpoints. It's easy to spot these as they're using either `http.post` or `miqAjaxButton` not just to return to the previous page, but also to POST the data against a ui-classic URL. These should be fixed and any missing logic should be moved to the API repo.

*

[2020-10-14 12:08] skateman commented on #7422
Blocked by https://github.com/ManageIQ/manageiq-api/issues/918

[2020-10-15 11:20] skateman commented on #7412
Okay, if not redux, I could just convert the menu state into single-object that we could store in a React context with its setState and we could pull out its members in any underlying component. This way probably the param passing would be more followable...

[2020-10-15 13:40] agrare opened #7425 "AWS SmartState Docker endpoint tab is missing on jansa"
The AWS provider new/edit forms should have a "SmartState Docker" endpoint tab as added by https://github.com/ManageIQ/manageiq-ui-classic/pull/2525.  This sets the `smartstate_docker` authtype and is used by the agent coordinator for amazon SSA.

The code appears to still be in ui-classic (quick search for smartstate_docker in the jansa branch)

On master obviously this has been supplanted by the

[2020-10-15 13:40] agrare commented on #7425
cc @skateman

[2020-10-15 14:36] himdel commented on #7412
Maybe I don't understand what kind of params you're talking about.

It's probably cleaner to only pass the relevant props to the relevant menu subcomponents,
and be explicit in what we're passing.

What's the actual problem you're solving?

[2020-10-16 07:00] skateman commented on #7412
We are passing state variables on 4+ levels among components, mapping functions, then components, then mapping functions, conditionals and components again. This is everything but followable, I'd be for a contextual store from where any component could pull out what it needs...

[2020-10-16 11:24] himdel commented on #7412
Can you be specific please? As far as I can tell, the only state being passed to all the menu components is:

* appearExpanded

As far as I can tell, the bits of state passed to more than 1 component are:

* applianceName (2)
* currentUser (2)
* menu (2)
* hideSecondary (2)
* appearExpanded (5)

So,`applianceName` and `currentName` - feel free to merge them in a single object if it helps,
`menu` i

[2020-10-19 06:56] evertmulder commented on #6394
Thanks! 👍

[2020-10-19 15:56] kavyanekkalapu commented on #7360
In toolbars, focus is going to disabled options too, Focus should not go to disabled buttons.

<img width="778" alt="Screen Shot 2020-10-19 at 11 55 25 AM" src="https://user-images.githubusercontent.com/37085529/96475529-21215800-1202-11eb-84f0-a46ea78d47b0.png">

[2020-10-19 16:01] kavyanekkalapu commented on #7360
i am not sure if we have this type of functionality in MIQ ui, but these options from https://react-ui-components.surge.sh/?selectedKind=Toolbar&selectedStory=Toolbar&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Fstories%2Fstories-panel are not accessible with keybaord.
<img width="377" alt="Screen Shot 2020-10-19 at 11 59 39 AM" src="https://user-images.githubusercontent.com/37085

[2020-10-19 18:13] kavyanekkalapu commented on #7360
Ok I am taking back on this comment, according to https://www.w3.org/TR/wai-aria-practices-1.1/#kbd_disabled_controls, Disabled menu items are focusable but cannot be activated.so this is working as expected.

[2020-10-19 20:44] #7313 closed

[2020-10-20 09:15] skateman commented on #7278
The `isRequired` can be easily implemented on each component as it is not a destructive change and if the field is not set, we are not breaking any carbon specification.

For the rest we will probably have to reimplement the select component inspired by the current PF3 implementation that would look like a carbon component.

[2020-10-20 11:59] skateman commented on #6945
https://www.manageiq.org/docs/reference/latest/api/reference/actions.html

https://github.com/ManageIQ/manageiq-api/pull/929

[2020-10-20 15:48] kavyanekkalapu commented on #7360
Toolbar in react-ui-components is working fine, but toolbar in MIQ pages are not..
often when i am doing up/down arrows in  MIQ UI dropdown, focus is skipping in multiple options...For example Services-->My services--> click on any Services--> configuration button dropdown, now try up/down arrow to go through options , middle option is skipping
same with many other drop downs on different pages to

[2020-10-21 11:42] skateman commented on #7278
The demo is already available (only works with node version 10) and it can be started using the following steps:
[code]

It will open a new browser window where every base component is available. Happy ~~hacking~~ TABbing :wink:

[2020-10-21 11:45] rvsia commented on #7278
@skateman You don't need to do yarn install 2x.

[2020-10-21 13:43] skateman commented on #7360
I verified this problem, whenever you have more than 1 item in the dropdown, the focus between elements using the arrow keys is undeterministic. This is not happening in the storybook, only in MiQ and there's no HTML markup difference between the two :confused: so I'm clueless :thinking:

[2020-10-21 17:26] Fryguy commented on #7278
But what if you _really really_ want to yarn install? 🤔

[2020-10-21 17:45] skateman commented on #7278
Nothing bad happens :laughing: tried

[2020-10-21 17:51] rvsia commented on #7278
🎶 So tell me what you want, what you really, really want
I wanna, (ha) I wanna, (ha) I wanna, (ha) I wanna, (ha)
I wanna really, really, really wanna _yarn install_ ah 🎶

[2020-10-21 17:56] skateman commented on #7278
:musical_note:  If you wanna be my developer, you gotta get with `yarn install` :musical_note:

[2020-10-21 19:18] kavyanekkalapu commented on #7365
Just leaving few observations:
- In dashboard page , only kebab buttons seems accessible, in pie charts, i think we can manually select/deselect options to change pie chart, but it is not accessible with keyboard.

<img width="595" alt="Screen Shot 2020-10-21 at 3 05 16 PM" src="https://user-images.githubusercontent.com/37085529/96771752-1f959280-13b0-11eb-84f2-68dab94ea2e4.png">

- If there are a

[2020-10-22 10:47] skateman commented on #6912
PATCH/PUT https://github.com/ManageIQ/manageiq-api/pull/934

[2020-10-22 10:53] skateman commented on #6915
`/api/alert_definition_profiles` is available

PATCH/PUT https://github.com/ManageIQ/manageiq-api/pull/935

[2020-10-22 11:16] skateman commented on #6932
https://github.com/ManageIQ/manageiq-api/issues/936

[2020-10-22 11:38] skateman commented on #6920
https://www.manageiq.org/docs/reference/latest/api/reference/chargebacks_rates.html

PATCH/PUT: https://github.com/ManageIQ/manageiq-api/pull/937

[2020-10-22 11:43] skateman opened #7436 "Form conversion: Overview/Chargeback/Assignments"
Parent issue: https://github.com/ManageIQ/manageiq-ui-classic/issues/6825

![Screenshot from 2020-10-22 13-40-04](https://user-images.githubusercontent.com/649130/96866789-1d910980-146c-11eb-9cf2-f3cdfba24106.png)

Missing component: TreeGrid (expandable table)
API status: not available

[2020-10-24 11:24] skateman commented on #7360
My guess is that the problem will be somewhere in [this file](https://github.com/ManageIQ/manageiq-ui-classic/blob/master/app/javascript/components/miq-toolbar.jsx) as this is the only place where we might be altering the code coming from react-ui-components.

[2020-10-24 12:07] skateman commented on #7360
**MiQ:**
![Screenshot from 2020-10-24 14-06-06](https://user-images.githubusercontent.com/649130/97081347-2b789300-1602-11eb-9a11-a80dc2e6bc18.png)

**Storybook:**
![Screenshot from 2020-10-24 14-06-17](https://user-images.githubusercontent.com/649130/97081348-2e738380-1602-11eb-9d67-02058a10943e.png)

[2020-10-26 17:48] kavyanekkalapu commented on #7362
Tab visually seems working, but tabs doesn't have roles and aria properties at all, need to add these on all tabs through out application,  For example , please refer https://www.w3.org/TR/wai-aria-practices-1.1/examples/tabs/tabs-1/tabs.html

[2020-10-26 19:12] h-kataria commented on #6175
@d-m-u is this what you are requesting/expecting on Service Dialog side?
![Screenshot from 2020-10-26 15-10-51](https://user-images.githubusercontent.com/3450808/97217383-94e0d900-179d-11eb-97c6-eed1498c2816.png)

[2020-10-26 19:19] d-m-u commented on #6175
You remember how I asked you how we could add the note for this pr: https://github.com/ManageIQ/manageiq-providers-vmware/pull/427 a while ago? That's what I'm referring to. We don't to my knowledge have an equivalent for service dialogs, but it's also very low prio.

[2020-10-27 12:33] himdel commented on #7360
So, there are 4 different global keydown handlers in the UI...

![20201027122919](https://user-images.githubusercontent.com/289743/97301796-1c872000-1850-11eb-99db-298b108b2b4a.png)

removing only the last one makes it work right,
removing any or all of the first three makes it work almost right, except it doesn't skip disabled

sounds like we have a double react+nonreact implementation, and the r

[2020-10-27 12:43] himdel commented on #7360
that ToolbarListItem onKeyDown .. what happens when you rightclick and go to definition?

For some reason, it seems to point me to onClick .. sounds like us passing an onClick handler as a onKeyDown could certainly break things but I dont see where...

[2020-10-27 12:54] himdel commented on #7360
ok, the bad version comes from `react-bootstrap/es/DropdownMenu.js` line 91..
used by ToolbarList via DropdownButton.

So, maybe we should just replace that DropdownButton with just a proper bootstrap dropdown button div, so that only the bootstrap implementation gets used.
(That, or use a non-bootstrap react dropdownbutton)

[2020-10-27 12:56] kavyanekkalapu commented on #7360
@himdel i raised pr to remove that keydown event https://github.com/ManageIQ/react-ui-components/pull/183, with this manageiq-ui toolbars are working but not toolbars in react-ui-components demo, i tried debugging yesterday and couldn't find any difference between those two..

[2020-10-27 12:58] himdel commented on #7360
@kavyanekkalapu that PR is removing an unused prop.. the problem is not in react-ui-components.

[2020-10-27 13:01] himdel commented on #7360
The difference between react-ui-components demo and ui-classic is that react-ui-components doesn't load bootstrap javascript.
Which the UI has to load as long as we use any non-react code.

[2020-10-27 13:04] himdel commented on #7360
Anyway, if there are any plans of rewriting toolbars to carbon, that should fix it.

If not, DropdownButton needs to be replaced, by html like in the [Button dropdowns example](https://getbootstrap.com/docs/3.3/components/#btn-dropdowns).

[2020-10-27 13:25] h-kataria commented on #6175
You can add a note in the help field for any field in Service Dialogs, that is displayed as a popover when running a dialog.
![Screenshot from 2020-10-27 09-23-37](https://user-images.githubusercontent.com/3450808/97307582-429fc680-1836-11eb-8d04-22bfbf2dd5e5.png)

[2020-10-27 13:26] skateman commented on #7360
:vomiting_face: jQuery messes it up? :disappointed:

[2020-10-27 13:52] #7376 closed

[2020-10-27 14:03] himdel commented on #7360
Not jquery. Bootstrap javascript.

Bootstrap code needs the global JS handlers that match events based on the class of the element.
And patternfly-react (well, react-bootstrap) uses the same css classes, but assumes there's no bootstrap js :(.

[2020-10-29 08:57] skateman opened #7463 "API-provided empty value is `null` while DDF expects `undefined`"
When loading data to a form via the API, the empty fields will have `null` value. This confuses the DDF as its empty value is `undefined` instead. Unfortunately `undefined` is not a valid JSON value, so the API can't provide it. This causes problems with detecting if a form is pristine or dirty as we would compare `null` with `undefined` after setting a value of an empty field and then removing it

[2020-10-29 13:44] h-kataria opened #7465 "UI hangs when pressing Add Security Group and Add Security Policy button"
Related to https://github.ibm.com/IBMPrivateCloud/CP4MCM/issues/14995

These Add buttons are not MIQ core toolbar buttons, these buttons are being added by NSXT plugin.

![Screenshot from 2020-10-29 09-32-46](https://user-images.githubusercontent.com/3450808/97581665-3600a700-19cb-11eb-85cb-184430317c4b.png)

![Screenshot from 2020-10-29 09-33-03](https://user-images.githubusercontent.com/3450808/

[2020-10-29 14:27] h-kataria commented on #7465
@himdel can you take a look

[2020-10-29 15:17] agrare commented on #7465
Seems like it isn't just this form, others have hit similar issues: https://github.com/ManageIQ/manageiq-providers-ibm_cloud/pull/93#issuecomment-713003336 https://github.com/ManageIQ/manageiq-providers-ibm_cloud/issues/109

[2020-10-29 15:59] skateman commented on #7465
This is NSXT-specific, on my list...

[2020-10-29 16:00] skateman commented on #7465
The API call is hanging on this probably https://github.com/ManageIQ/manageiq-api/issues/919

[2020-11-01 10:24] llivne opened #7471 "breadcrumb and highlighted links for physical storages not working as expected"
1) physical storages page can be access from 2 places:
- Storage > Block storage > Storages
- Compute > Physical Infrastructure > Storages

the breadcrumb for it is always Compute > Physical Infrastructure > Storages even if we go to the page from  block storage. Also, the breadcrumbs links are always to compute -> physical Infrastructure -> storages

2) Both links 'Storage > Block storage > Stora

[2020-11-02 12:40] skateman commented on #7471
IMO this should be just under one menu item, I'm vouching for `Storage` as it's more intuitive compared to `Compute` that only makes sense if the 2nd level is expanded where the user can see `Physical Infra`.

cc @Fryguy @gtanzillo
@miq-bot add_label question

[2020-11-02 12:45] skateman commented on #7471
Maybe we should name it `Physical Storage` in the menu though:
![Screenshot from 2020-11-02 13-45-11](https://user-images.githubusercontent.com/649130/97869391-b3048700-1d11-11eb-975c-d82d8ec862d2.png)

[2020-11-02 13:36] Fryguy commented on #7471
I'm not sure... Would like @agrare to weigh in here.

[2020-11-02 15:39] Fryguy commented on #7465
@h-kataria Can you verify the changes in https://github.com/ManageIQ/manageiq-providers-nsxt/pull/26 ?

[2020-11-02 16:59] simaishi commented on #7350
@bhadrim node 12.18.4 is in CentOS AppStream:
http://mirror.centos.org/centos/8.2.2004/AppStream/x86_64/os/Packages

[2020-11-03 01:00] Franklin-lab opened #7476 "Compliance Policy Not Updating The Status For Particular VM"
**Environment:** Version 5.11.5.2.20200422181830_c7107ec

**Description**: For compliance policy, I have created a new compliance policy then mapped to a particular VM, and then running the policy on schedule once the start time completed then i checked in VM compliance status "Never verificed" and "No history available".

**Steps To Reproduce:**
1. Login to CloudForm
2. Click on control
3. Click

[2020-11-03 01:14] Franklin-lab commented on #7476
{
    "href": "https://10.154.23.146/api/policies/15",
    "id": "15",
    "name": "587ec640-86aa-4d70-9c4d-34d448930b21",
    "description": "pdm_compliance_policy",
    "created_on": "2020-11-02T17:56:00Z",
    "updated_on": "2020-11-02T20:16:08Z",
    "expression": {
        "exp": {
            "=": {
                "field": "Vm-power_state",
                "value": "on"
            }

[2020-11-03 14:49] simaishi commented on #7350
Confirmed both podified and appliance images contain nodejs 12.18.4. Closing.

[2020-11-03 14:49] #7350 closed

[2020-11-03 15:47] gtanzillo opened #7478 "Convert explorers to non-explorer style screens - completed for Jansa"
Completed items from https://github.com/ManageIQ/manageiq-ui-classic/issues/6819

Remove the trees on the left side, so basically convert all explorers into non-explorer screens. Tree should be in its own view, can be accessed from a toolbar button or a second level menu item, maybe something similar to Topology menu item. A screen of its own where user can view objects in a tree.
Total of 16 expl

[2020-11-03 15:52] lpichler commented on #6878
NOTE: API PR which is in description is not relevant.

[2020-11-03 15:59] skateman commented on #6878
@lpichler are you sure? IMO we need the (missing) API endpoint to feed the dropdown with values

[2020-11-03 16:03] lpichler commented on #6878
oh yes you are right, thanks

[2020-11-03 18:51] #7362 closed

[2020-11-04 17:10] #7358 closed

[2020-11-05 12:46] skateman opened #7482 "Webpack not watching for stylesheet changes"
When running `bin/wepback --watch` it only watches JS(X) files but not the (S)CSS changes which makes styling super slow.

[2020-11-05 15:27] himdel commented on #7482
testing with https://github.com/ManageIQ/manageiq-ui-service/pull/1681, it seems webpack 5 does watch sass files out of the box.

Updating ui-classic to webpack5 should help us too :)

[2020-11-05 15:31] skateman commented on #7482
There's always a newer version that does something cool :see_no_evil:

[2020-11-06 14:08] h-kataria commented on #7465
Fixed in https://github.com/ManageIQ/manageiq-providers-nsxt/pull/26

[2020-11-06 14:08] #7465 closed

[2020-11-06 14:16] skateman commented on #7360
@kavyanekkalapu does Carbon have something like toolbars? Maybe it would be easier to rewrite this than deal with the bootstrap mess...

[2020-11-06 17:11] #7478 closed

[2020-11-09 12:44] skateman commented on #7334
@agrare @jaywcarman the PRs above are ready to test, you need both the UI and the API PR + the provider to be tested to be able to run it followed by a `bin/update`.

[2020-11-09 16:45] Fryguy commented on #7334
ManageIQ/manageiq-providers-openstack#664 is merged

[2020-11-09 19:08] agrare commented on #7471
@skateman what do we do for other types which can live under multiple manager types?  CloudVolumes comes to mind.
Do we show them under the storage section even if they belong to a cloud_manager?

[2020-11-09 22:38] gtanzillo opened #7491 "UI Simplification - Kasparov"
Completed items from [original issue](https://github.com/ManageIQ/manageiq-ui-classic/issues/6818)

Goal is to identify and change screens in the UI to make them simple and remove unnecessary complexity.

- [x] [Apply Carbon 10 styling to Header, Navbars & Menus](https://github.com/ManageIQ/manageiq-ui-classic/issues/6817)
- [x] [Simplify list views](https://github.com/ManageIQ/manageiq-ui-classic

[2020-11-09 22:46] gtanzillo opened #7492 "Classic UI should support Accessibility (a11y) - Kasparov"
Completed items from https://github.com/ManageIQ/manageiq-ui-classic/issues/7253

This is the execution plan:
- [x] Address a11y in menus, toolbars, and other non-form UIs
  - [x] Main menu - https://github.com/ManageIQ/manageiq-ui-classic/issues/7358
  - [x] Listviews (ex-GTLs) - https://github.com/ManageIQ/manageiq-ui-classic/issues/7359
  - [x] Tabbed views - https://github.com/ManageIQ/managei

[2020-11-09 22:52] gtanzillo opened #7493 "Forms conversion to REACT - Kasparov"
Completed items from https://github.com/ManageIQ/manageiq-ui-classic/issues/6825

- All forms in UI need to be converted to REACT and to use API
- needs some refactoring to remove the duplicated logic that is used to manage/load state of each form

**Issues stemming from this Epic**
- [x] [Compute/Cloud/Instances Reconfigure?](https://github.com/ManageIQ/manageiq-ui-classic/issues/6844)
- [x] [Ser

[2020-11-10 05:50] skateman commented on #7471
Yes

[2020-11-10 10:24] skateman commented on #6838
No need for these, closing...

[2020-11-10 10:24] #6838 closed

[2020-11-10 10:24] skateman commented on #6840
Definitely no need for this, probably field arrays...

[2020-11-10 10:24] #6840 closed

[2020-11-10 14:36] gtanzillo opened #7496 "DDF componentMapper for Carbon - Kasparov"
Completed items from #7278

To switch all our DDF forms to Carbon styling, we need to create a `componentMapper`. My idea is to duplicate the [PF3 mapper](https://github.com/data-driven-forms/react-forms/tree/master/packages/pf3-component-mapper) and reimplement the internals using the Carbon components. Or maybe @Hyperkid123 has a better way to generate mappers.

- [x] Upgrade to DDF v2 (#7277)
-

[2020-11-10 15:55] chessbyte commented on #7491
Closing as the items here are all completed.

[2020-11-10 15:55] #7491 closed

[2020-11-10 15:56] chessbyte commented on #7492
Closing as the items in this issue are all completed.

[2020-11-10 15:56] #7492 closed

[2020-11-10 15:58] chessbyte commented on #7493
Closing as the items in this issue are completed.

[2020-11-10 15:58] #7493 closed

[2020-11-10 16:01] chessbyte commented on #7496
Closing as the items in this issue have been completed.

[2020-11-10 16:01] #7496 closed

[2020-11-10 20:15] kavyanekkalapu commented on #7360
Brian (UX) comments on design:

- For dropdown items in toolbar, please use styling of an inline drop down. For simplicity, I would get rid of the icons in front.
- The width of each dropdown can vary to fit different text lengths. Ensure 24px of horizontal space between each dropdown.
- For accessibility, remember to include a hover state as shown below.
- Avoid using icon-only buttons without te

[2020-11-11 12:20] himdel commented on #7360
We can do neither, there will be custom buttons without text, so there would need to be a migration to convert icon-only buttons to ..what? The icon name?

[2020-11-11 15:36] himdel commented on #7482
Closing, webpack does watch for css as well, it just takes longer to compile :).

[2020-11-11 15:36] #7482 closed

[2020-11-12 10:07] skateman commented on #6918
So one of the authentication modes is tricky, because it has credential validation:
![Screenshot from 2020-11-12 10-17-27](https://user-images.githubusercontent.com/649130/98922803-302eb980-24d3-11eb-856c-0e8f161a629f.png)

The validation is implemented in `OpsController#settings_update_amazon_verify` but I am not sure where to place it in the API as there's no dedicated endpoint for this form. Th

[2020-11-12 10:26] skateman commented on #6852
![Screenshot from 2020-11-12 11-21-11](https://user-images.githubusercontent.com/649130/98927962-75ee8080-24d9-11eb-9c13-441aa193d5eb.png)

So far all the providers have the same form, but maybe some of them are provider specific, which I don't know. @agrare can you help me with determining which fields are common and if there are any provider specific ones? Also are all the endpoints (Default, Re

[2020-11-12 11:24] skateman commented on #6867
API endpoint PR: https://github.com/ManageIQ/manageiq-api/pull/964
Supports feature exposal: https://github.com/ManageIQ/manageiq/pull/20803

[2020-11-12 13:19] Fryguy commented on #6918
We have a settings validator, so we can add it there.

[2020-11-12 13:23] skateman commented on #6918
@Fryguy I am not familiar with this one, is it documented somewhere or can you explain it to me what do you mean?

[2020-11-12 14:37] lpichler commented on #7422
I am going to work on api for:
- [ ] Network/Networks -> Add/Edit Cloud Network

[2020-11-12 15:07] Fryguy commented on #6918
Oh I see, it's the Validate _button_ that's the problem (I thought it was just purely going through Settings).  Hmm...I guess we need a new validate API action somewhere and we'll have to figure out what that's going to look like.

Is anything else validated besides Amazon?

[2020-11-12 15:14] Fryguy commented on #6918
I don't think we should put the validation on the settings endpoint, since that thing is generic.  @abellotti Do you have thoughts/opinions on where a new validation action might go in the API for external auth validation?

[2020-11-12 15:31] skateman commented on #6918
This is only for amazon...

[2020-11-12 15:34] skateman commented on #7422
The API is actually there :wink:

[2020-11-12 15:38] skateman commented on #7422
Already done in https://github.com/ManageIQ/manageiq-api/pull/927

[2020-11-12 16:18] Fryguy commented on #6918
Discussed with @skateman, and I think what we need to do is add an action to /api/settings for the validation of the auth.

Since the amazon auth is pluggable and [brought by the amazon plugin](https://github.com/ManageIQ/manageiq-providers-amazon/blob/master/app/models/authenticator/amazon.rb) I don't think we should bring an endpoint that is provider specific.  In fact, eventually this section o

[2020-11-12 17:02] abellotti commented on #6918
Kind'a leaning toward the more generic, context for auth is driven by mode (amazon, others, ...).
We have the mixin's add_settings_for_resource, we can expose the validate_settings_for_resource doing validation if the UI needs to check things before doing the actual PATCH. We can leverage something like that for the resource specific validations.

Settings endpoint has the arbitrary path exposed,

[2020-11-13 08:17] skateman commented on #6918
@abellotti thanks, this will help me in moving forward :+1: :1st_place_medal:

@Fryguy the underlying validation method is defined in the Amazon provider repo, so this is blocking us from reaching pluggability. All my possible ideas are converging towards a dedicated API endpoint that would also provide a list of the supported authentication methods + validation + changing. cc @agrare

[2020-11-13 13:19] Fryguy commented on #6918
My concern for a pluggable form is that the form will have to be different for each authenticator, much in the same way that the form for adding a provider will be different.  I think we need to take a similar approach where the DDF is defined by the provider.

This is why I'm asking if now is a good time to introduce that, because I assume that will make it take more time.

[2020-11-13 13:25] Fryguy commented on #6918
Regarding @abellotti proposal, note that validating settings and validating the connection are two completely different code paths.  I made this mistake too which is why I had incorrectly suggested going through the settings validator.  But the validator cannot do something like this that is async in nature.

I also think validating settings happens automatically when you try to post the new setti

[2020-11-13 13:39] skateman commented on #6918
AFAIK is a per-server setting, so I guess the best location would be somewhere under `/api/server/:id`

[2020-11-13 14:11] skateman commented on #6918
@abellotti note that if we have a dedicated endpoint e.g. `/api/servers/:id/authentication` we need to sort out the `OPTIONS` for subcollections (as I assume the `authentication` here is a subcollection and the DDF schema needs to be provided via `OPTIONS` to be consistent with the other endpoints.

[2020-11-13 14:30] Fryguy commented on #6918
@skateman When you say "sort out the OPTIONS for subcollections", you're referring to [this?](https://github.com/ManageIQ/manageiq-api/pull/943#issuecomment-726133693)

[2020-11-13 14:32] Fryguy commented on #6918
`/api/settings` is the collection, and anything after that is the special "arbitrary path" logic for settings where it lets you drill down through the settings using the URL path.  As a subcollection it would `/api/servers/:id/settings`.

[2020-11-13 14:41] skateman commented on #6918
Yeah, probably `/api/servers/:id/settings/authentications` collides with the arbitrary resource path. This is why I suggested `/api/servers/:id/authentication`

[2020-11-13 14:57] Fryguy commented on #6918
Oh sorry...I misunderstood that you wanted to add a new endpoint (thought you were piggy-backing on an existing endpoint and typo'ing it)

[2020-11-13 20:04] jrafanie commented on #7329
@Franklin-lab We recently [changed the UI workers to eager load common code](https://github.com/ManageIQ/manageiq/pull/20797) before it starts handling requests, similar to what we did [in the web service worker](https://github.com/ManageIQ/manageiq/pull/20072). This should help prevent the 2 threads deadlocking each other trying to load the same code.

I'm closing this issue for now.  Please let

[2020-11-13 20:04] #7329 closed

[2020-11-16 10:40] skateman commented on #6918
Okay so to summarize, I need to attach these endpoints somewhere:
* OPTIONS server_id - to get the list of the supported authentication types
* OPTIONS (server_id), authtype - to get the DDF schema for the given authtype under the
* GET server_id - to get the currently set authtype and authentication settings for the given server
* PATCH/PUT server_id - to change the authtype and authentication se

[2020-11-23 06:29] skateman commented on #6867
@agrare a strange thing I noticed that there's an `ems_id` and an `ems_ref` and they're not matching, is that normal?

Also the assigned `availability_zone` doesn't have a foreign key, it's just serialized in a `metadata˙ field where only the name is stored:
[code]

[2020-11-23 11:42] skateman commented on #7278
https://github.com/data-driven-forms/react-forms/pull/896

[2020-11-25 22:51] bhadrim commented on #7307
@himdel All except angular on UI classic has been fixed. Do we have a target date for angular update on UI Classic. Thank you.

[2020-11-30 09:55] skateman commented on #6934
Do we need the `Chart Theme` setting? It has a single `default` value and if I remember it correctly, it was introduced by @PanSpagetka when we replaced the old flash-based charts.

![Screenshot from 2020-11-30 10-54-55](https://user-images.githubusercontent.com/649130/100594956-9b152880-32fa-11eb-8c3d-4b56b97103b1.png)

[2020-11-30 10:07] PanSpagetka commented on #6934
It was ages ago, I can't remember that I introduced such a thing. I think it might be leftover from flash charts and probably it is not really used. You could try to delete it and with a bit of luck nothing brakes.

[2020-11-30 10:09] skateman commented on #6934
@abellotti @gtanzillo I would like to serve the list available timezones, languages and start pages via the API, but I'm not sure how (except maybe the start pages which are stored in the DB) and if it is a good idea and if not, where else should they live. Maybe locales are available in the frontend somehow (cc @himdel  @mzazrivec) and I guess we can use `moment.tz.names()` somehow...

[2020-11-30 10:59] himdel commented on #6934
[code]

So, the how is simple, create a rest json endpoint to serve that.

[2020-11-30 11:16] himdel commented on #7307
Sorry, no timeline, same as https://github.com/ManageIQ/manageiq-ui-classic/issues/7307#issuecomment-693336881
I'm working on other things now.

Relevant issues:
https://github.com/ManageIQ/manageiq-ui-classic/pull/6452
https://github.com/ManageIQ/manageiq-ui-classic/issues/5585
https://github.com/ManageIQ/manageiq-ui-classic/issues/6716

With luck, we don't *need* to get rid of jquery 2 and jquer

[2020-11-30 11:37] mzazrivec commented on #6934
@skateman For locale names, maybe something like
[code]

Or maybe there's a nicer way to do this, not sure. Maybe @himdel knows :-)

[2020-11-30 11:42] himdel commented on #6934
Yes, ask the backend :). Extracting list of locales from the translation catalog doesn't sound ..stable :).

[2020-11-30 13:31] skateman commented on #6934
So I sorted out the **locales** in frontend, I am [exposing](https://github.com/ManageIQ/manageiq-api/pull/970) the shortcuts for the startpages via the API and I'm still waiting for @abellotti's input about the timezones, if they can go to the API...

[2020-11-30 13:54] kavyanekkalapu commented on #7361
This is fixed in https://github.com/ManageIQ/react-ui-components/pull/184 and https://github.com/ManageIQ/manageiq-ui-classic/pull/7488, @skateman Can we close this issue?

[2020-11-30 13:57] kavyanekkalapu commented on #7360
@himdel @skateman For this issue/enhancement, I am thinking of adding carbon components in react-ui-components repo, and replace toolbar patternfly components with carbon components, what are your thoughts?

[2020-11-30 14:10] himdel commented on #7360
@kavyanekkalapu I suggest going the more direct way of moving toolbar code to ui-classic first.

But either ordering probably works (as long as you can get carbon build working in react ui components).

As far as replacing toolbars with carbon components, :+1: :)

[2020-11-30 14:11] skateman commented on #7360
I think we talked about this on the chat before, to reimplement these in carbon in the classic UI repo...

[2020-11-30 14:12] #7361 closed

[2020-11-30 17:53] himdel commented on #7360
Just heads up @kavyanekkalapu, the new implementation pretty much *has* to support icons for items, *and* icons only.

Otherwise, we can't really use it, not without destroying all the customer custom buttons.

[2020-11-30 18:22] kavyanekkalapu commented on #7360
Ok sure, i will reimplement toolbar component, thanks.

[2020-12-02 00:33] bhadrim opened #7527 "Security Issue in UI Classic node package codemirror"
Affected component: UI Classic
Current Version: 5.47.0
Remediation: 5.58.2 or higher
Link: https://nvd.nist.gov/vuln/detail/CVE-2020-7760
CVE: CVE-2020-7760

[2020-12-02 00:50] bhadrim opened #7528 "Security issue: CVE-2020-8277 upgrade node.js"
Affected Package: Node.js
Affected Image: All images.
Current Version: 12.18.4
Remediation: 12.19.1 or higher
Link: https://nvd.nist.gov/vuln/detail/CVE-2020-8277
CVE: CVE-2020-8277

[2020-12-02 11:08] himdel commented on #7528
This is a build issue, not a UI issue, closing.

Cc @simaishi

[2020-12-02 11:08] #7528 closed

[2020-12-02 12:11] skateman commented on #7187
I guess the form's current state reflects OpenStack, so I can just move parts of it into a DDF schema in the openstack provider repo. The NSX-T provider has its own form already, just accessed elsewhere so I can deal with that too. I'd like to know what kind of other providers are there (amazon, ibm, nuage? is there any more?) and with what kind of specific fields and requirements. cc @agrare @jay

[2020-12-04 19:45] kavyanekkalapu commented on #7360
@skateman @himdel I am trying to make dashboard toolbar accessible , right now screenshots are looking like this
<img width="1070" alt="Screen Shot 2020-12-04 at 2 39 25 PM" src="https://user-images.githubusercontent.com/37085529/101207568-cd968c80-363e-11eb-8a4d-1b828a70b0ea.png">
<img width="1529" alt="Screen Shot 2020-12-04 at 2 39 31 PM" src="https://user-images.githubusercontent.com/37085529/

[2020-12-07 10:20] skateman commented on #6851
So what's the decision here? To discover or not to discover from the UI?

[2020-12-07 10:23] skateman commented on #6862
^^ @agrare

[2020-12-07 10:35] skateman commented on #6878
any update?

[2020-12-07 14:49] jrafanie commented on #6878
Sorry, Im missed the ping many weeks ago.

Vacuuming via db GC is definitely something we can delete.  🔴

I haven't worked on scheduled backup in a few years but when I did, I think it did a straight db_dump and not a cluster backup so if that's the case, does it even work with embedded ansible since I think that still uses a separate awx db?

Since pods/appliances will have different workflows fo

[2020-12-07 18:35] #6845 closed

[2020-12-07 18:43] Fryguy commented on #6851
Would like @agrare's opinion as well.

[2020-12-07 18:52] agrare commented on #6851
I think that thing exists, it is called `nmap` :laughing:  There is even a builtin script to detect vcenters and report their version information:
[code]

[2020-12-07 18:56] agrare commented on #6851
I'm certain we have customers who do not know where these things are :wink: I don't know that this is the right way to solve that problem though.

There are other tools to solve the "discover what is on my network" that do a better job, I could even see building on e.g. `nmap` as a scheduled task a user could run once a week to report on what IPs are out there.

[2020-12-08 08:14] #6849 closed

[2020-12-08 15:34] #6870 closed

[2020-12-08 15:50] kavyanekkalapu commented on #7360
@himdel @skateman when you have time, can you please check above comment?

[2020-12-08 15:54] skateman commented on #7360
Well, we need to tell the user why is it locked if it's locked...

[2020-12-08 16:03] kavyanekkalapu commented on #7360
yes title property will be still there, button name `Add Widget` is ok for locked state too?, in locked state, can we open dropdown at all?

[2020-12-08 16:06] skateman commented on #7360
No, it's not okay. We want the *Cannot add a Widget, this Dashboard has been locked by the Administrator* when it's locked so the user knows why it is locked...

[2020-12-08 16:10] kavyanekkalapu commented on #7360
Alright, then in locked state, shell i disable Add Widget button and show the title `Cannot add a Widget, this Dashboard has been locked by the Administrator`?

[2020-12-08 16:12] skateman commented on #7360
Isn't how it is working right now in the old implementation?

[2020-12-08 16:18] kavyanekkalapu commented on #7360
Ok nvm yes it is diabled in locked, got it , thanks. i was confused by this line
  ` { items.length === 0 ? renderDisabled() : renderContent() }`

[2020-12-09 11:03] kruge002 opened #7538 "Reconfigure VM: comparison of String with nil failed"
Clicking the button "Reconfigure this VM" results in the following error popup for a specific VM:

![2020-12-08_15h19_39](https://user-images.githubusercontent.com/23237514/101615160-174ff000-3a0e-11eb-9e9c-caa2ed5631af.png)

The VM has one Hard disk and one CD/DVD drive with no CD mounted.

The root cause of this issue is a sort_by(&:filename) while the filename of the cdrom device is empty (nil)

[2020-12-09 14:24] kruge002 commented on #7538
The pull Request was successfully merged and closed so this issue can be closed now too.
https://github.com/ManageIQ/manageiq-ui-classic/pull/7537

[2020-12-09 14:24] #7538 closed

[2020-12-09 16:40] skateman commented on #7360
The dashboard custom toolbar isn't sorted out AFAIK, please close if this is not true...

[2020-12-09 17:17] kavyanekkalapu commented on #7360
Yes i started working on it, once that pr is merged, we can close this issue.

[2020-12-11 10:45] skateman commented on #7360
Found another one, topology toolbars:
![Screenshot from 2020-12-11 11-44-10](https://user-images.githubusercontent.com/649130/101894319-4d27dc80-3ba6-11eb-943d-25c85d2dd853.png)

[2020-12-11 15:23] gtanzillo commented on #7363
Example -
![image](https://user-images.githubusercontent.com/76593/101921378-eea93100-3b9a-11eb-8a90-472eb9f74501.png)

[2020-12-11 15:27] gtanzillo commented on #7364
Example -
![image](https://user-images.githubusercontent.com/76593/101921830-6bd4a600-3b9b-11eb-95ff-81f56c23e5c1.png)

[2020-12-14 09:44] skateman commented on #7363
These are good, all the links are accessible. But eventually we would like to convert these to regular summary screens for consistency...

[2020-12-14 09:45] #7363 closed

[2020-12-14 09:47] skateman commented on #7365
Links are accessible both in the provider (card links) and the main (kebab) dashboards, but as @kavyanekkalapu said, the inner content of dashboards isn't and I guess the best solution would be to unify them and convert them to Carbon.

[2020-12-14 09:58] skateman commented on #7364
The tree on the left is react-based, so it's accessible, the delete :wastebasket: buttons and the table headers are also accessible via the keyboard, but the treegrid would need some adjustments that would need us to hack into patternfly which is probably a no go.

As we discussed with @Fryguy, this needs some backend changes in order to provide the compare data via the API. Then we can construct

[2020-12-15 13:51] skateman commented on #6912
Related issue: https://github.com/ManageIQ/manageiq/issues/20899

Need to reconstruct this via the API:
https://github.com/ManageIQ/manageiq-ui-classic/blob/master/app/controllers/miq_policy_set_controller.rb#L325

[2020-12-16 15:24] himdel opened #7541 "Toolbar - focus breaks when switching between dropdowns without closing one first"
Gif: ([mp4 link](https://files.gitter.im/5fda1aabd73408ce4ff6acff/HChL/20201216151222.mp4))

![20201216151222 mp4](https://user-images.githubusercontent.com/289743/102367870-26a4df80-3fb2-11eb-952d-680167c0afe5.gif)

the gif starts with everything working, the first item in a dropdown gets highlighted when it opens, the dropdown gets highlighted when it closes

then I open Lifecycle while Monitori

[2020-12-21 07:47] llivne opened #7545 "Security protocol can NOT be selected when trying to create a new provider"
It's not possible to create a new cloud openstack provider or autosde block storage provider (maybe other providers also...) since the Security Protocol drop down field is not clickable.

![Screenshot 2020-12-20 180554](https://user-images.githubusercontent.com/53213107/102751855-43a22f80-4371-11eb-8eac-775204388026.jpg)

@himdel confirmed the issue and noted:
"The problem is that component is get

[2021-01-04 12:16] Hyperkid123 commented on #7545
@llivne @skateman @himdel

The issue is caused by the AsyncCredential component and by the fact it is mutating the form state in the render cycle. I am quite curious why it was working before because that is basically a React recipe for infinite loops. Anyway here are the masked villains: https://github.com/ManageIQ/manageiq-ui-classic/blob/master/app/javascript/components/async-credentials/async-

[2021-01-05 09:31] skateman commented on #6862
Seems like the add/edit is working now, but I would like to know if the provider-specific routers would need separate forms. @agrare ?

[2021-01-05 14:45] agrare commented on #6862
@skateman only openstack currently supports `create_network_router` so I can't say what other providers might need or not need at the moment, but I expect there will be some differences just like cloud subnets e.g. they might not require a cloud_tenant like OSP does.

[2021-01-05 16:29] kavyanekkalapu commented on #7360
Fixed topology toolbar and dashboard toolbar in https://github.com/ManageIQ/manageiq-ui-classic/pull/7539, there are still some enhancements can be done in topology toolbar ui, but accessibility wise these pr changes should be good.

[2021-01-05 16:30] skateman commented on #7360
:tada:

[2021-01-05 16:30] #7360 closed

[2021-01-10 19:48] bhadrim opened #7563 "Security issue in node package urijs on UI classic"
Affected component: UI Classic
Current Version:
[code]
Remediation: 1.19.4 or higher
Link: https://nvd.nist.gov/vuln/detail/CVE-2020-26291
CVE: CVE-2020-26291
Version Found: Kasparov

[2021-01-13 23:27] #7545 closed

[2021-01-14 10:08] skateman commented on #6867
@agrare ^^

also I need to know if it should be a required field or an optional...

[2021-01-14 10:16] skateman commented on #6851
Okay, so what's the final decision here?

[2021-01-14 10:18] skateman commented on #6852
^

[2021-01-14 10:19] skateman commented on #6856
Any update on this?

[2021-01-14 12:22] skateman commented on #6861
I'd need some definitions for each provider's form, how it should look like & behave, what should be required, etc. cc @agrare

[2021-01-14 13:16] skateman commented on #6875
API endpoint is available now, but the first part wasn't answered ^

[2021-01-14 14:44] chessbyte commented on #6851
I suggest we drop this functionality.  Thoughts?  @Fryguy @agrare

[2021-01-14 14:47] chessbyte commented on #6856
@agrare Do you know if users have an alternative way of changing password on the target provider?  If so, I would suggest we drop this feature.  cc @Fryguy

[2021-01-14 15:08] agrare commented on #6851
:+1:

[2021-01-14 15:11] kavyanekkalapu commented on #7365
Fixed tables keyboard accessibility in above pr.

[2021-01-14 16:21] Fryguy commented on #6851
👍 Disagree and commit 😉

[2021-01-14 16:42] chessbyte commented on #6851
Spoke to @Fryguy and we agreed on the following:
1. For Infrastructure Discovery via port scanning, remove that code and add the [nmap approach](https://github.com/ManageIQ/manageiq-ui-classic/issues/6851#issuecomment-740110161) to our documentation.
2. For Cloud Provider Discovery, re-design our app so that a single provider can handle multiple regions.

[2021-01-14 22:32] jaywcarman commented on #6861
@skateman I'm searching around and I think only the [OpenStack provider](https://github.com/ManageIQ/manageiq-providers-openstack/blob/master/app/models/manageiq/providers/openstack/network_manager/cloud_network.rb#L5) supports network create, and [OpenStack](https://github.com/ManageIQ/manageiq-providers-openstack/blob/master/app/models/manageiq/providers/openstack/network_manager/cloud_subnet.rb

[2021-01-15 18:29] djberg96 opened #7585 "Current linter warnings"
FYI:
[code]

[2021-01-18 14:35] #7563 closed

[2021-01-18 14:52] agrare commented on #6856
Yes they can still change the password natively on the xclarity management UI

[2021-01-18 14:58] skateman commented on #6856
There's also a wrongly named RBAC feature (ems_infra_change_password) and an API action for this, should those go as well?

[2021-01-18 20:01] bhadrim commented on #7527
Any update on this one. Thank you.

[2021-01-18 21:15] agrare commented on #6867
That is entirely normal, ems_id is the fk to the ext_management_system and ems_ref is the native reference for that object on the underlying provider.

[2021-01-18 21:17] agrare commented on #6867
That is weird, I have no idea why they would do that.

It looks like they don't actually set that explicitly, that is part of the metadata from the native provider: https://github.com/ManageIQ/manageiq-providers-openstack/blob/master/app/models/manageiq/providers/openstack/inventory/parser/cloud_manager.rb#L146

[2021-01-18 21:18] agrare commented on #6867
That's a question for @andyvesel I have no idea

[2021-01-18 21:24] agrare commented on #6852
While they are all technically defined in core as options,  `Web Services` is only implemented by `Vmware::InfraManager::HostEsx`

The other two (ssh/ipmi) appear to be implemented in core.

[2021-01-18 21:26] agrare commented on #6875
This is only implemented by OpenStack so I can't comment on if it might be different between different providers that may or may not implement it in the future :smile:

The safe option of course is to assume that it might be provider dependent (particularly with openstack cloud_tenants that aren't used by e.g. AWS)

[2021-01-19 09:07] andyvesel commented on #6867
@agrare this is the same way how it's implemented in Nova service.
The host aggregators are not exposed to the end users. To make them visible, the AZ is attached to it as a metadata.

https://docs.openstack.org/nova/latest/admin/availability-zones.html
https://docs.openstack.org/nova/latest/admin/aggregates.html

From my opinion it can be optional, since not every host aggregate should necessary

[2021-01-19 19:19] bhadrim commented on #7563
@himdel Is this fix also in master. I believe the next release will be from the master.. Thank you.

[2021-01-19 19:20] bhadrim commented on #7527
@himdel any update on this one?

[2021-01-20 11:39] #6856 closed

[2021-01-20 11:43] himdel commented on #7527
We can probably ignore this, we're running codemirror in `htmlmixed`, `xml`, `shell`, or `ruby` modes.
It's never used to edit javascript.

[2021-01-20 18:58] bhadrim commented on #7563
@Martin-Hradil

There are two entries for urijs, I believe you fixed only one (bluecf-providers-lenovo). Can you also fix the other one. Thank you

  {
    "name": "urijs",
    "license": "MIT",
    "version": "1.19.2",
    "location": "../bluecf-providers-lenovo-a5004d6f6b5d/node_modules/urijs/package.json"
  },
  {
    "name": "urijs",
    "license": "MIT",
    "version": "1.19.2",
    "location

[2021-01-21 07:51] skateman commented on #7392
@DavidResende0 would you like to try this one? Should be simple and the API endpoint is [almost ready](https://github.com/ManageIQ/manageiq-api/pull/990)

[2021-01-22 19:13] dmetzger57 opened #7596 "Catalog item copied with space in front of original name does not show space in copy."
Original BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1740390

Description of problem:
Spaces are accepted as leading characters when cloning a catalog item (or bundle), but not displayed in the name. This can lead to multiple items having the same names.

Version-Release number of selected component (if applicable):
cfme-5.11.0.18-1.el8cf.x86_64

How reproducible:
Everytime

Steps to Reproduce

[2021-01-22 19:18] dmetzger57 opened #7597 "Unable to Search for an additional tag after adding one"
Original BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1740855

Description of problem:
Not able to search for a second tag, after one tag is added to the object. Once the first tag is added, searching for a second causes various UI elements to disappear, preventing you from saving tags that have been added.
- Video displaying issue: https://drive.google.com/open?id=13GfQ3tSvRkt_1YeArmFjv1y_4F0X

[2021-01-22 20:36] Fryguy commented on #7596
@agrare :trollface:

[2021-01-25 14:58] agrare commented on #7596
So as a mixture of "the customer is always right" and "if it is stupid but works, it isn't stupid" I'd like to coin:

"If it is stupid but customers do it, it isn't stupid" - @agrare

[2021-01-25 15:16] chessbyte commented on #7596
I suggest that we trim leading and trailing whitespace in any parameters that can be used in queries and/or uniqueness constraints

[2021-01-25 19:58] gtanzillo commented on #1
This already part of a general effort for pluggitivability

[2021-01-25 19:58] #1 closed

[2021-01-25 20:00] gtanzillo commented on #3
@skateman Is this still a thing or can we close this?

[2021-01-26 03:40] #6851 closed

[2021-01-26 07:53] #3 closed

[2021-01-26 20:03] himdel opened #7603 "Replace angular code"
We do have a lot of [angular.js](https://docs.angularjs.org/api) 1.x code that should eventually be rewritten to react or DDF, as per [version-support-status](https://docs.angularjs.org/misc/version-support-status), it ends LTS in Dec 2021.

We don't use angular router, or `ng-app`, so any angular code needs `miq_bootstrap` to render (which uses `angular.bootstrap` to run angular).

This happens f

[2021-01-26 20:07] Fryguy commented on #7603
Updated to checkboxes 😄

[2021-01-26 20:58] Fryguy commented on #7603
@himdel Can you reorganize the list so that provider dashboards are grouped together?  I'm wondering if we focused on a provider dashboard react component if that would knock off a huge chunk of the list.

[2021-01-26 22:30] #6175 closed

[2021-01-27 21:38] himdel commented on #7603
Resorted and split into forms, dashboards, topologies, a few trivial uses ..and the rest :).

[2021-01-27 21:39] himdel commented on #7603
Another nontrivial part that stands out is generic object + generic object definition - those screens are fully angular (and have additional issues) - might be another candidate for dropping?

[2021-01-27 21:44] himdel commented on #7603
As for angular-patternfly ... ¯\\\_(ツ)\_/¯

We're redefining these

[code]

after they are gone, it should be easier to find the rest, if any :)

[2021-01-27 23:04] Fryguy opened #7606 "Save Errors on Advanced Settings don't scroll you to the top to see the error"

[2021-01-27 23:06] Fryguy commented on #7606
I think this might also affect Save on the Workers screen (noticed it didn't scroll to top when I was successful)

[2021-01-28 01:59] himdel commented on #7606
We do have a bunch of `javascript_flash(:scroll_top => true)` lines, but `add_flash` itself doesn't scroll.
 Should scrolling to the top on a flash message be the default?

[2021-01-28 14:47] h-kataria commented on #7606
i think it makes sense to always scroll to the top when displaying flash message

[2021-01-28 21:32] Fryguy commented on #7603
I don't think we can drop that...looks like we'll have to covert to react.

[2021-01-29 13:31] skateman commented on #6936
@gtanzillo @h-kataria I'm wondering how is this stored per-user, as far as I see the checkedness is global and it is loaded from [`MiqSearch#search_key`](https://github.com/ManageIQ/manageiq-ui-classic/blob/master/app/presenters/tree_builder_default_filters.rb#L79). Is this correct? If yes, are we having this form on the right location?

[2021-02-01 12:56] himdel commented on #7527
Follow up for whoever ends up doing this...

` = render :partial => "/layouts/my_code_mirror",...` - used in old forms, this depends only on the `codemirror` package, via `miqInitCodeMirror`, uses `window.CodeMirror` set by the global pack

`"ui-codemirror" => {...` - used in angular, via the `angular-ui-codemirror` package; that package is archived, we're using the latest version, but it also doe

[2021-02-01 13:32] himdel commented on #7563
Technically yes, master doesn't need any action (except for a new build) for A.B.x -> A.B.y upgrades :).

[2021-02-01 13:40] himdel commented on #7563
Sure, fixed in https://github.com/ManageIQ/manageiq-v2v/pull/1154

[2021-02-01 18:28] #7541 closed

[2021-02-05 17:27] #6934 closed

[2021-02-08 15:34] skateman commented on #6854
Endpoint `/api/customization_templates` is available.

[2021-02-09 15:39] kavyanekkalapu opened #7625 "a11y: Make the UI charts accessible"
In this issue, change PF charts to carbon charts and make it accessible.

[2021-02-10 12:46] skateman commented on #6860
https://github.com/ManageIQ/manageiq-api/issues/699
https://github.com/ManageIQ/manageiq-api/issues/700

[2021-02-10 12:51] skateman commented on #6878
So the garbage collection has been dropped, what's the final decision about the (scheduled) backups?

[2021-02-10 13:00] skateman commented on #6899
API endpoint missing https://github.com/ManageIQ/manageiq-api/issues/1007

[2021-02-10 14:03] jrafanie commented on #6878
@skateman can you bring this up at the next meeting?  If we don't need to do scheduled backups anymore because we can't easily do them in the same way in podified, it would be good to deprecate and remove it.

[2021-02-10 21:05] jaywcarman commented on #6861
Here's a rough draft of OpenStack network create:
[code]

[2021-02-10 21:06] jaywcarman commented on #6861
Here's rough drafts of subnet create for OpenStack, IBM Cloud PowerVS, and nuage:
[code]

[2021-02-11 17:59] Fryguy commented on #6878
I'd be :+1: for removing scheduled database backup and perhaps moving to appliance console as a cron job. @chessbyte @bdunne  Thoughts?  We _might_ need some sort of migration for any users that have it already.  Should we just kill it from the UI anyway and do the appliance console change separately?  My only concern is that we won't move it fast enough and then leave users in a weird position.

[2021-02-11 20:20] chessbyte commented on #6878
Before removing DBA activities from UI, let's make sure that it is merged and working via appliance console.  Also, what would our strategy be in podified?

[2021-02-11 23:19] bdunne commented on #6878
This already doesn't work in podified, the solution there is to use Velero and Restic.

I'm 👍🏻 for moving to the appliance console then removing from the UI.

[2021-02-15 14:39] skateman opened #7633 "DDF/Carbon mapper styling issues"
* [ ] `code-editor` spacing between the format options and the textarea [➡️](https://user-images.githubusercontent.com/37085529/106469094-d227c780-646c-11eb-936d-5a9b606ac836.png)
* [ ] `dual-list` needs some CSS cleanup [➡️](https://user-images.githubusercontent.com/37085529/105195964-234cc880-5b09-11eb-95a4-cda09d380fd0.png)
* [ ] spacing between submit/reset/cancel buttons [➡️](https://user-ima

[2021-02-15 14:46] skateman commented on #7633
@kavyanekkalapu feel fee to add more :wink:

[2021-02-15 14:50] #7278 closed

[2021-02-16 16:36] chessbyte opened #7636 "Remove actions from List Views"
One of the complexities of the UI code is allowing a single operation to apply to multiple items on a list view.  I am questioning the value of this to the user.  Removing this support will simplify the code by removing checkbox management, not asking every item on the list view if an action is supported before enabling/disabling the button and likely improve UI performance.  This is a "less is mo

[2021-02-16 16:41] chessbyte commented on #7636
If we can agree on this one, I will add it to the list [here](https://github.com/ManageIQ/manageiq-ui-classic/issues/6818)

[2021-02-16 21:19] Fryguy commented on #7636
There are 2 facets to "bulk actions":

- An action that takes multiple objects as a parameter
- An action that runs on multiple objects independently

I believe the UI does only the latter.  For example, you check a bunch of VMs, choose "Power Off", and you get a bunch of independent power off tasks

If we do remove bulk actions, then it will become tedious for the end user to do "the same operati

[2021-02-17 15:00] agrare commented on #7636
I can absolutely see users selecting a number of vms, powering them all off and then destroying them all.
Actually I think it is something at least our vSphere users do relatively often because vSphere doesn't make it easy to bulk-select and destroy VMs.

[2021-02-17 15:24] chessbyte commented on #7636
Then I wonder if there is a way we can allow the use cases we want to cover in a different way.  For example, maybe we allow to stop and destroy multiple VMs within a single provider.  Then, the UI would not need to keep asking every VM whether it supports stop and destroy.  Right now, the bulk actions are done too generically code-wise, IMO.

[2021-02-17 15:32] agrare commented on #7636
Yeah I could see disabling bulk-actions on any screen that isn't scoped to objects of the same type (all vms, all hosts)

[2021-02-17 16:21] chessbyte commented on #7636
Maybe we should only allow bulk actions when a list view is scoped to a single provider (or more granular).  Then we can query the class once to see if an action is supported before enabling an action button.  Also, we should review one by one all the current bulk actions supported in UI and make sure that it aligns with real use cases.  Maybe I can do that as I try to finish the transition from `

[2021-02-18 19:36] #7334 closed

[2021-02-18 21:48] Fryguy commented on #7636
I think that will cause usability issues.  That is, if a user goes to the vms page, it visually looks almost exactly the same as the user going to the ems then clicking the list of vms.  But one page will have bulk choices and the other won't, which is just confusing.

I'm not sure I understand the problem we are trying to solve here, though I do agree that less is more, so if there are some bulk

[2021-02-19 00:26] bhadrim commented on #7527
@himdel Can we ignore this issue or do you plan on fixing this issue. If you believe this security issue will not affect ManageIQ then I can close this issue. Thank you.

[2021-02-19 00:44] himdel commented on #7527
Well, there is no *security* issue, if a user pastes malicious javascript on a `htmlmixed` form (that would be Edit description in old forms), their UI might hang, but that's it. The solution to that is not pasting malicious javascript into the editor. :)

I do think we should be keeping our dependencies up to date, so I would not necessarily close this, fixing this one might be a good start for t

[2021-02-19 01:10] bhadrim commented on #7527
Okay thank you.

[2021-02-22 19:40] gtanzillo commented on #892
Ping @h-kataria

[2021-02-22 20:03] #1786 closed

[2021-02-22 20:06] gtanzillo commented on #1991
Completed with policy de-explorization

[2021-02-22 20:06] #1991 closed

[2021-02-22 20:08] gtanzillo commented on #2049
@h-kataria please take a stab at sizing this

[2021-02-22 20:08] Fryguy commented on #2049
https://github.com/ManageIQ/manageiq-ui-classic/blob/68e660994241caa359f84a8aca9bb325280e6ef5/app/helpers/application_helper/toolbar_builder.rb#L36-L42

[2021-02-22 20:12] gtanzillo commented on #2097
Closing because the removal of grid and tile and move ot the list view to react

[2021-02-22 20:12] #2097 closed

[2021-02-22 20:15] gtanzillo commented on #2193
Ping @h-kataria to see if this has been doine

[2021-02-22 20:23] #2800 closed

[2021-02-22 20:28] gtanzillo commented on #3097
This should be complete with the implementation of DDF forrm for providers

[2021-02-22 20:28] #3097 closed

[2021-02-22 22:12] h-kataria commented on #892
looks like this was completed in https://github.com/ManageIQ/manageiq-ui-classic/pull/5854 during react conversion of vertical menus

[2021-02-22 22:12] #892 closed

[2021-02-22 22:57] h-kataria commented on #2193
@JunyiSun Can you please take a look at this, it looks like that it is safe to remove the ems_*/show.html.haml views. Please make sure to test it from different screens in UI.
Test scenarios similar to the one given below from the BZ mentioned in the main comment of this PR

[code]

[2021-02-23 16:17] kavyanekkalapu commented on #7365
Fixed charts in above pr, closing the issue.

[2021-02-23 16:17] #7365 closed

[2021-02-23 18:11] chessbyte opened #7641 "Convert explorers to non-explorer style screens - completed in Kasparov"
Items completed in Kasparov for https://github.com/ManageIQ/manageiq-ui-classic/issues/6819

<details>
  <summary>Legend</summary>

- **Level 1 Menu Item**
  - *Level 2 Menu Item* (Optional based on nesting)
    - [ ] Level 3 or Level 2 Menu Item (Explorer)
      - Accordions under Explorer

</details>

### List of All Explorer style screens in UI converted

- **Control**
  - [x] Explorer [Control

[2021-02-23 18:11] #7641 closed

[2021-02-23 18:35] chessbyte opened #7642 "Accessibility Items for Lasker"
- [ ] [Convert all forms to DDF](https://github.com/ManageIQ/manageiq-ui-classic/issues/6825) - this will enable us to leverage the [Carbon Mapper](https://github.com/data-driven-forms/react-forms/issues/795) - Forms covers 80% of the UI
   - [x] [DDF componentMapper for Carbon](https://github.com/ManageIQ/manageiq-ui-classic/issues/7278) - Carbon is already a11y compliant.
- [ ] Address a11y in m

[2021-02-23 18:37] #7642 closed

[2021-02-23 18:41] chessbyte opened #7643 "Forms Conversion to React - Lasker"
Completed items for Lasker from https://github.com/ManageIQ/manageiq-ui-classic/issues/6825

- [x] [Services Set Retirement](https://github.com/ManageIQ/manageiq-ui-classic/issues/6845)
- [x] [Compute/Cloud/Stacks Set Retirement](https://github.com/ManageIQ/manageiq-ui-classic/issues/6849)
- [x] [Compute/Infrastructure/Providers Discover items](https://github.com/ManageIQ/manageiq-ui-classic/issue

[2021-02-23 18:42] #7643 closed

[2021-02-24 21:12] Fryguy commented on #2193
Removing pinned label so it doesn't get lost.

[2021-02-24 21:56] agrare opened #7647 "DDF textarea no longer preserving newlines"
Some providers take SSL PEM format keys that look like:
[code]

These newlines are important as `SSL` doesn't recognize them as PEM formatted keys otherwise.

The DDF component for this type of input has been `:componentClass => 'textarea',` for example [OpenStack RSA Keys](https://github.com/ManageIQ/manageiq-providers-openstack/blob/master/app/models/manageiq/providers/openstack/cloud_manager.rb

[2021-02-24 22:28] Fryguy commented on #7647
@h-kataria

[2021-02-24 22:57] h-kataria commented on #7647
@DavidResende0 can you take a look, sending your way as you have been working on DDF forms with @skateman

[2021-03-02 17:27] agrare commented on #7647
I should note that google and oracle_cloud providers are completely unable to be added due to this so this is a relatively serious bug IMO

[2021-03-02 18:57] skateman commented on #7647
Have you tried passing the [wrap](https://www.w3schools.com/tags/att_textarea_wrap.asp) attribute? It should *just work&trade;* as DDF passes anything to the final tag.

[2021-03-02 20:45] agrare commented on #7647
Adding that doesn't appear to change anything @skateman

[2021-03-02 20:59] h-kataria commented on #7647
@agrare it says `The text in the textarea is wrapped (contains newlines) when submitted in a form. When "hard" is used, the cols attribute must be specified` wondering if adding `cols` would make it work
https://www.w3schools.com/tags/att_textarea_wrap.asp

[2021-03-02 21:01] agrare commented on #7647
No luck, still getting a single-line-string

[2021-03-02 21:04] agrare commented on #7647
Is this still the correct way to declare a textarea?  I basically copied this from google/openstack DDF forms but maybe those are wrong too?  They at least used to work AFAIK.
[code]

[2021-03-02 21:12] agrare commented on #7647
I tried checking out a commit from before the `PF3->Carbon` patch set and the text-area is working properly

[2021-03-02 21:49] h-kataria commented on #7647
@skateman i could be completely off but i don't see wrap attribute being honored [here](https://github.com/data-driven-forms/react-forms/blob/master/packages/carbon-component-mapper/src/files/textarea.js)

[2021-03-03 05:35] skateman commented on #7647
Yup, this is definitely wrong. You only need `componentClass` if you're using a textarea as a `password-field`. Is this what you want to achieve, i.e. password-like textarea?

[2021-03-03 06:12] skateman commented on #7647
Okay, so the problem is that only PF3 supports the `componentClass` property, i.e. creating a textarea field that is treated as a password and carbon just creates a regular password field instead, that doesn't support text wrap.

The solution is to adjust the `password-field` and `edit-password-field` components to consume this `componentClass` property. The `password-field` is trivial:
[code]

Th

[2021-03-03 13:08] agrare commented on #7647
Yes this is a public/private key pair so one of the text area's has to be a password field

[2021-03-03 13:34] skateman commented on #7647
The non-password field should be `component: textarea` and no`componentClass` is required. For the other one, you'll need the fix I mentioned above.

[2021-03-04 15:07] #7170 closed

[2021-03-04 20:34] euroUK opened #7653 "JS errors on portal. All actions unavailable"
![image](https://user-images.githubusercontent.com/6841785/109765937-91a3a100-7c06-11eb-829f-76edb31e7f2c.png)

I've installed manageiq on VCloud from official VMware vSphere template. From server side it looks like everything is fine, but when I'm trying to login I have several errors like

var _ownerDocument = _interopRequireDefault(require("./ownerDocument"));  - activeElement.js:8 Uncaught Typ

[2021-03-04 20:35] Fryguy commented on #7653
@h-kataria Can you help out here?

[2021-03-05 17:26] h-kataria commented on #7653
@euroUK are you running latest upstream/master codebase, wondering if you have https://github.com/ManageIQ/manageiq-ui-classic/pull/7645 in your code. From the error it seems like React components are not initialized.

[2021-03-05 18:00] Fryguy commented on #7647
Do you mean that PF3 supports it and Carbon does not, or do you mean that the PF3 DDF mapper supports it but the Carbon DDF mapper does not.  If it's a feature missing in the mapper, I would think the fix should belong in DDF itself.

[2021-03-05 19:03] skateman commented on #7647
PF3 supports it, Carbon doesn't and we leverage this in our codebase as DDF just forwards any prop we set in the schema to the final component in the mapper. Also we're talking about a custom component here (password-like textarea), that only exists in the miq codebase and not in the DDF/PF/Carbon.

[2021-03-05 19:05] agrare commented on #7647
@skateman the standard textarea also wasn't working though, should that be fixed in DDF then?

[2021-03-07 16:14] euroUK commented on #7653
@h-kataria

Hi Katarina!
I've just started evaluating product so I'm not confident in what I'm doing.

I've used image from https://www.manageiq.org/download/ (VMware vSphere). May be it's not a latest version, I would be glad if you can help me with updating.

[2021-03-08 20:24] k-chu opened #7655 "Configuration Providers Dropdown field is sending incorrect data type"
In the **Configuration Provider**, there is a drop down field for SSL Verification. The data type been sent to the Provider used to be **Integer**(in Kasparov and earlier this release) but it appears that the UI is now sending data as **String**(recently). It appears to be a regression due to recent form change.

![ProviderForm](https://user-images.githubusercontent.com/41962815/110377300-3caac500

[2021-03-08 20:42] kavyanekkalapu commented on #7655
Recently, DDF mapper changed to Carbon ( before it was patternfly), Carbon select component is expecting value of select option as string. Example https://codesandbox.io/s/elastic-hermann-7wjs1?file=/src/index.js
 in above form, when we select provider type, we are calling `/api/providers?
type=ManageIQ::Providers::IbmTerraform::ConfigurationManager`, and we are getting options as integers in sche

[2021-03-08 21:58] Fryguy commented on #7655
cc @agrare

[2021-03-08 22:34] Fryguy opened #7657 "Automation/Configuration menu reorgnization"
This is a proposal for a menu reorganization for Automation and Configuration.

Current/Proposed

![menus](https://user-images.githubusercontent.com/52120/110390145-8d76e980-8033-11eb-82c2-3c3371715127.png)

What's Changed

- Top level Automation and Configuration menus are collapsed under a single Top level Automation menu.
- The formerly hardcoded `Ansible Tower` section is changed to `Automatio

[2021-03-09 14:00] chessbyte commented on #7657
I like `Embedded Ansible` and `Embedded Automate` in the first proposal.

[2021-03-09 19:28] h-kataria commented on #6853
This was closed as a dup of https://github.com/ManageIQ/manageiq-ui-classic/issues/6847

[2021-03-09 21:54] kavyanekkalapu commented on #7655
@Fryguy It looks like , in schema, we can add dataType: 'integer' to fix the issue.

So, solution is either add `dataType: 'integer'` in provider schema along with options values as integers or making the values and initialValue as string.

Example schema:
[code]

[2021-03-10 00:39] Fryguy commented on #7655
I think it's ok if we change the schemas in the affected providers to integer

[2021-03-10 14:35] kavyanekkalapu commented on #7655
manageiq-providers-ibm_terraform
app/models/manageiq/providers/ibm_terraform/provider.rb

manageiq-providers-ansible_tower
app/models/manageiq/providers/ansible_tower/provider.rb

manageiq-providers-ovirt
app/models/manageiq/providers/redhat/infra_manager.rb
manageiq-providers-foreman
app/models/manageiq/providers/foreman/provider.rb

[2021-03-10 15:06] Fryguy commented on #7655
@kavyanekkalapu Sounds good...can you create PRs in those repos and link them to here?

[2021-03-10 16:32] DavidResende0 commented on #7393
@miq-bot assign @DavidResende0

[2021-03-10 16:34] Fryguy commented on #7655
closed via the linked PRs

[2021-03-10 21:55] Fryguy commented on #7655
Seems this issue may still not be fixed.

[2021-03-10 22:50] #7364 closed

[2021-03-11 18:48] Fryguy commented on #7653
#7645 isn't a part of any existing release, so we will likely need this backported to fix it

[2021-03-12 14:36] Fryguy commented on #7655
Fixed via #7659

[2021-03-12 14:36] #7655 closed

[2021-03-12 17:58] h-kataria opened #7660 "Form conversion: Compute/Infra/PXE ISO Datastores - Add/Edit ISO Datastores"
Convert form to use DDF/React and API - parent issue #6825

Location: Compute/Infra/PXE ISO Datastores
<img width="797" alt="Screen Shot 2021-03-12 at 12 57 48 PM" src="https://user-images.githubusercontent.com/3450808/110979423-949f3f80-8332-11eb-87a2-f39e25502eeb.png">

Form: Add/Edit ISO Datastore
API:  Missing

[2021-03-15 16:41] DavidResende0 commented on #7660
This form is missing an API endpoint: https://github.com/ManageIQ/manageiq-api/issues/1020

@gtanzillo
@Fryguy

[2021-03-17 17:42] agrare commented on #7647
:+1: that works for the oracle_cloud public-key: https://github.com/ManageIQ/manageiq-providers-oracle_cloud/pull/15

@h-kataria @DavidResende0 we still need a fix for the password-field textarea, this is broken on lasker for GCE and oracle-cloud on master

[2021-03-18 14:42] #7657 closed

[2021-03-18 16:57] kavyanekkalapu commented on #7633
Fixed it in above pr, closing the issue.

[2021-03-18 16:57] #7633 closed

[2021-03-18 17:38] Fryguy commented on #7653
@euroUK We cannot reproduce this.  Can you give us reproduction steps?

[2021-03-18 18:47] euroUK commented on #7653
Hi!

What exactly steps you need?

I've started from stable VMware vSphere template from here https://www.manageiq.org/download/
I've uploaded it to VCenter and started VM
I've maid some actions in Linux to specify ip address and open ports
And when I'm trying to open portal, even on login screen, I have errors provided.

[2021-03-19 14:13] #2049 closed

[2021-03-22 14:52] agrare opened #7674 "Ansible Tower provider doesn't have a details page"
Most providers when you select them from the list view have a details page which (among other things) shows extended information about authentication failures and refresh status.

Ansible Tower / Automation Managers do not have this, when you select from the list view it brings you to a list of inventory groups.

If you are looking for example for the reason why the authentication status is invali

[2021-03-22 15:19] agrare opened #7675 "[RFE] Allow the addition of standalone object storage managers"
IBM Cloud is looking to add the ability to add a standalone object storage manager: https://github.com/ManageIQ/manageiq-providers-ibm_cloud/pull/159  This isn't currently available in the UI

Similar to https://github.com/ManageIQ/manageiq-ui-classic/pull/7345

TODO:
- [x] Combine Object/Block Storage Mixins into base StorageManager class (https://github.com/ManageIQ/manageiq/pull/21213)
- [x] Up

[2021-03-22 15:19] agrare commented on #7675
cc @h-kataria @DavidResende0

[2021-03-22 17:49] Fryguy commented on #7674
What does that Error show when you hover it?

[2021-03-22 17:52] agrare commented on #7674
Nothing shows up when I hover over it

[2021-03-22 21:39] h-kataria commented on #7675
@agrare @iv1111 i am not sure what is needed for this, do we need add new Storage Manager button on

![Screen Shot 2021-03-22 at 5 37 59 PM](https://user-images.githubusercontent.com/3450808/112061777-604b3080-8b35-11eb-9ee9-8651347ca5d9.png)

[2021-03-23 17:08] agrare commented on #7675
@h-kataria The button to add a new provider is typically under `Configuration / Add a new whatever provider` and an `Add a Provider` button on the empty list view.

Here is what it looks like for the block storage side:
![Screenshot from 2021-03-23 13-07-02](https://user-images.githubusercontent.com/12851112/112187760-c2a93d00-8bd8-11eb-90e2-9cd5cc22992d.png)

Which I believe was enabled by the PR

[2021-03-24 20:52] #6854 closed

[2021-03-25 13:48] #7647 closed

[2021-03-25 17:44] Fryguy commented on #7636
Related to #6818

[2021-03-25 18:05] Kuldip-Nanda opened #7683 "Clicking on the Setting/Tasks"
This issue was earlier opened as  https://github.com/ManageIQ/manageiq-providers-ibm_cloud/issues/172 but was asked to move it in manageiq-ui-classic.

The issue was observed in 03/23/2021 2.3 candidate build.

If you mouse click on any task in Setting/Tasks one gets
[code]
![Screen Shot 2021-03-24 at 5 57 48 PM](https://user-images.githubusercontent.com/5939617/112389280-e2209280-8cca-11eb-9262-6

[2021-03-25 18:05] Kuldip-Nanda commented on #7683
@miq-bot add_label bug

[2021-03-25 18:06] agrare commented on #7683
@Kuldip-Nanda can you post the backtrace from the production.log?

[2021-03-25 18:14] Fryguy commented on #7683
Wonder if this is related to #7679 ?

[2021-03-26 17:01] iv1111 commented on #7675
@h-kataria Right. Basically we need a way to register Object Storage type providers via UI just as is the case with Cloud Providers. Adam's picture shows it.

[2021-03-26 19:42] DavidResende0 opened #7686 "Changing the Timezone setting in "My Settings" causes Invalid Argument Error"
Changing the timezone in anyway causes an Invalid Argument error which cannot be resolved without manually editing the `:timezone` property in the rails console.

Preview:
![image](https://user-images.githubusercontent.com/64800041/112684675-bbd53100-8e49-11eb-89f3-b004901b0754.png)
![image](https://user-images.githubusercontent.com/64800041/112684688-c263a880-8e49-11eb-8e45-8fd33e67ec36.png)

[2021-03-29 08:20] omersiar opened #7689 "Login with OpenID Connect fails with "\xC5\" from ASCII-8BIT to UTF-8"
Dear All,

The installation is podified and httpd configured to have OIDC for SSO access.  Identification Provider has two different LDAP configurations.

Users logging in with DOMAIN-A configuration -which does not have non-ascii characters in LDAP Group users- are able to login, but in contrast, DOMAIN-B users which they **have** non-ascii characters in their Group name fails to do so.

I'm not

[2021-03-29 08:20] omersiar commented on #7689
https://github.com/ManageIQ/manageiq/issues/21128

[2021-03-29 09:26] omersiar commented on #7689
It seems app/controllers/dashboard_controller.rb has some functions regarding to User's group, also I can see that the user is created in Access Control regardless if they were able to login or not.

[2021-03-29 13:11] omersiar commented on #7689
[code]

[2021-03-29 14:46] DavidResende0 commented on #7686
@miq-bot assign @DavidResende0

[2021-03-29 21:35] #7625 closed

[2021-03-30 15:57] lamm opened #7692 "Search service failed when using big int"
When searching for a big int in service search bar, an error popup.

Step to reproduce : Search for "31020211347592532499"  in service search bar.

It is as if the searched string was interpreted as an integer.
Version :  jansa-3.20210118183104_77bdc30

[2021-03-30 16:09] chessbyte commented on #7692
Would you please provide a screenshot?

[2021-03-30 18:46] lamm commented on #7692
![miq_service_search_bug](https://user-images.githubusercontent.com/4119982/113040255-e51ef580-9198-11eb-93e7-43472665a90a.png)

[2021-03-30 18:48] Fryguy commented on #3292
@h-kataria Does this go away with all of the explorer de-explorizations?

[2021-03-30 18:50] Fryguy commented on #3316
Closing as with menu pluggability, plugins have enough to start bringing their own menus.

[2021-03-30 18:50] #3316 closed

[2021-03-30 18:55] #3761 closed

[2021-03-30 19:46] h-kataria commented on #3292
@Fryguy yes, most of explorer related settings/checking of code will go away once all screens are de-explorized

[2021-03-30 22:15] #3292 closed

[2021-04-02 13:13] #6772 closed

[2021-04-02 16:09] kavyanekkalapu commented on #7683
Tasks table rows should not clickable at all, but it is confusing as we can click on the rows and with hover/pointer on table rows, removing that in above linked pr.

[2021-04-02 22:49] #7683 closed

[2021-04-05 20:51] #7686 closed

[2021-04-06 14:44] kavyanekkalapu commented on #7692
I tried to investigate this issue, here search input is considered as string all the time, but since it has only digits, we are searching table with id.

**Example with just digits:**

 `SELECT COUNT(*) FROM (SELECT DISTINCT "hosts"."id" FROM "hosts" LEFT OUTER JOIN "ext_management_systems" ON "ext_management_systems"."id" = "hosts"."ems_id" LEFT OUTER JOIN "taggings" ON "taggings"."taggable_type"

[2021-04-06 14:45] kavyanekkalapu commented on #7692
**Log screenshot**

<img width="1678" alt="Screen Shot 2021-04-06 at 10 44 39 AM" src="https://user-images.githubusercontent.com/37085529/113729614-2c3f4600-96c5-11eb-8a60-9d61b3bef1d6.png">

[2021-04-06 19:36] Fryguy commented on #7692
This seems more of a core problem, so I'll take it.

[2021-04-07 01:10] #7692 closed

[2021-04-08 14:56] omersiar commented on #7689
We have confirmed that the users without Turkish chars in their username or group are able to login.

You can test with these: İ Ğ Ş Ç Ö Ü ö ç ş ı ü ğ

[2021-04-08 15:19] iv1111 commented on #7675
@h-kataria We're targeting for including the image import workflow into the next release May/June and the missing Form blocks us from proceeding with the implementation. Do you know when we'll be able to use the form?

[2021-04-08 15:23] chessbyte commented on #7675
@h-kataria has moved onto another project at Red Hat.  Maybe @kavyanekkalapu can pick this up

[2021-04-08 15:42] iv1111 commented on #7675
@chessbyte Thanks for telling. @kavyanekkalapu Hi. Could you tell us if you're able to take this issue?

[2021-04-08 15:48] kavyanekkalapu commented on #7675
@iv1111 i can take a look, what is the target date for this?

[2021-04-08 16:39] Fryguy commented on #7689
I can basically reproduce this locally without needing the auth parts by doing the following in a Rails console

[code]

What I still can't figure out is how an ASCII-8BIT string even gets into the system.

[2021-04-08 16:47] omersiar commented on #7689
What is the offender here? Active Support's logger? I have already checked json library before, it seemed it does the force_encoding but could not find it right now.

[2021-04-08 16:51] Fryguy commented on #7689
It's definitely our logger at fault...specifically our container logger, which converts the log messages to JSON for display in the UI.  When passing an ASCII-UTF8 encoded string with multibyte characters, the JSON generator doesn't like it.

In fact, if I simplify further, under the covers, the JSON library i just calling String#encode, so this also fails.

[code]

The example above p

[2021-04-08 16:52] Fryguy commented on #7689
What I can't yet figure out is how an ASCII-8BIT string is coming into the system at all.  It might be through the request headers, but I though request headers were already UTF-8

[2021-04-08 16:59] Fryguy commented on #7689
Ok, I figured it out... it seems request headers always come in as ASCII-8BIT for some reason.  TIL.

[2021-04-08 17:00] omersiar commented on #7689
[code]

:) I was busy obfuscating the log, you found out already.

[2021-04-08 17:10] omersiar commented on #7689
Do you think that changing default char set on Apache will fix that?
https://httpd.apache.org/docs/2.4/tr/mod/core.html#adddefaultcharset

[2021-04-08 17:56] kavyanekkalapu commented on #7625
Closing this issue, all the charts are converted to carbon except heatmap.

[2021-04-09 12:33] iv1111 commented on #7675
@kavyanekkalapu Hey. Thanks. End of next week would be great.

[2021-04-09 12:34] iv1111 commented on #7675
Something like 16 of April.

[2021-04-09 12:37] iv1111 commented on #7675
@kavyanekkalapu You might be interested in this: https://github.com/ManageIQ/manageiq-ui-classic/pull/7611

[2021-04-09 14:00] kavyanekkalapu commented on #7675
@iv1111 @agrare  can add a button for new object storage manage, but in create form, what are the fields that needs to be there? fields are same as storage manager?

[2021-04-09 14:02] agrare commented on #7675
Parameters should be coming from the provider's DDF params_for_create, any common fields (name, zone, etc...) should be the same

[2021-04-09 15:59] Fryguy commented on #7689
I don't think so, because Rails is probably always going to mark headers as ASCII-8BIT as per the RFC.

I am looking at 2 fixes at the moment -
1. is to ensure we UTF-8 encode the header values, which seems to work in tests, locally.
2. Ensure that if our logs get a ASCII-UTF8 string, we force it to utf-8 before logging

[2021-04-11 06:55] omersiar commented on #7689
Do you think of any workaround that I can make in current environment? It will take a little time to big blue prepares new images for this issue and the project is stuck at this moment.

[2021-04-12 20:19] Fryguy commented on #7689
The only thing I think that might work as a workaround is to disable the audit log.

[2021-04-13 06:31] omersiar commented on #7689
How? I could not find it in advanced configuration :(

[code]

[2021-04-13 14:25] Fryguy commented on #7689
Ugh - I just checked the loggers code and we've literally never had a setting for this logger 😑

Even so, I just realized that I don't think we could disable the logger anyway, as we always log in DEBUG mode in the podified environment.

[2021-04-14 13:20] Fryguy opened #7709 "[RFE] Add last_refresh_status and last_refresh_error to provider dashboard"
Easily the most used thing for diagnosing provider problems is the last_refresh_status and last_refresh_error, but those are only available in summary mode and not in dashboard mode.  This RFE is requesting adding it to dashboard mode as well.

Presentation-wise I think it should be a very clear error when presented when there is a problem, and ideally subdued when there isn't a problem.  Perhaps

[2021-04-14 13:25] agrare commented on #7709
The default credential status would also be very helpful, for the most part these are the three things I'm looking for when someone reports an error:
[code]

[2021-04-14 13:25] chessbyte commented on #7709
@kavyanekkalapu This is really important from a UX perspective.  We are often getting support questions where the answer would have been obvious from the UI.

[2021-04-14 13:26] chessbyte commented on #7709
@agrare is there similar info for Events and Metrics that would be helpful to display?

[2021-04-14 13:28] Fryguy commented on #7709
Given that success is the 99% case for normal users, ideally this info would not be intrusive unless there's an error, in which case it should be _very_ intrusive.

[2021-04-14 13:30] Fryguy commented on #7709
I wonder if the bottom right of the quadicon could be used for this on the dashboard, so it could show a green check when all is good.  When things are bad, it could so the red X and _also_ show an error banner.

I have no idea what the current bottom-right checkbox means currently.

[2021-04-14 13:31] agrare commented on #7709
@chessbyte we do have `last_metrics_error` and `last_metrics_update_date` which could be shown.  I don't see any equivalent for events though.

@Fryguy I believe the bottom-right currently is just the default credential status

[2021-04-14 13:32] Fryguy commented on #7709
We talked about, in the past, having some sort of "all-credentials status" that would be a rollup of multiple credentials status, perhaps even having shades of gray such as "degraded" status, but we never fully fleshed it out.

[2021-04-14 13:33] Fryguy commented on #7709
Oh interesting, so maybe we can expand that definition to do my suggestion.

[2021-04-14 14:02] kavyanekkalapu commented on #7709
@Fryguy @agrare expand the definition means, on bottom right side cell of Quadicon, do we need to show more info in title on hover or just show Last Refresh Status. and  Last Refresh Date separately under Quadicon?

<img width="1428" alt="Screen Shot 2021-04-14 at 9 59 13 AM" src="https://user-images.githubusercontent.com/37085529/114723179-75684900-9d08-11eb-9d16-0657ef3e11c4.png">

[2021-04-14 14:10] chessbyte commented on #7709
Since the 3 and the 7 in the QuadIcon refer to 3 Host and 7 VMs displayed on the right, I am wondering about the value of the QuadIcon in general.  Maybe remove it entirely and add a box about Connection Status?

[2021-04-14 14:20] kavyanekkalapu commented on #7709
@chessbyte If we need to have a click there to show more info, then isn't same effort as going to summary page and seeing last refresh there?  i would prefer hover or just displaying all fields directly in a small card.

[2021-04-14 15:45] chessbyte commented on #7709
@kavyanekkalapu Let's do the minimum work to make the UX better.  We can always improve in future PRs, once we have something useful regarding connection status displaying in the UI.

[2021-04-14 18:32] #1602 closed

[2021-04-14 19:23] Fryguy commented on #7709
Yeah, if we can expand the details on the bottom right quad icon, that would be an easy win.  We can do the "error banner", as I've been calling it, in a follow up.

[2021-04-14 19:26] Fryguy commented on #7709
Note that if we have to add backend methods to provide this information, I'm good with that.  In fact, it's preferable to have model methods over having complex logic in the views/controllers

[2021-04-15 17:35] chessbyte commented on #7310
Please re-open if this is still an issue

[2021-04-15 17:35] #7310 closed

[2021-04-15 21:20] Kuldip-Nanda opened #7711 "Search item name appears on the title of Create Volume"
Redundant message comes when something is entered in the Volume Searchbox

1. Search for the Cloud Volume.
   <img width="1419" alt="Screen Shot 2021-04-15 at 5 09 58 PM" src="https://user-images.githubusercontent.com/5939617/114938737-79ca5a00-9e0d-11eb-9d3b-705c21caa3d5.png">

2. Click on Add a new Cloud Volume
<img width="1408" alt="Screen Shot 2021-04-15 at 5 11 00 PM" src="https://user-images

[2021-04-15 21:21] Kuldip-Nanda commented on #7711
@miq-bot add_label bug

[2021-04-15 22:43] Kuldip-Nanda opened #7712 "Unable to edit Cloud Volume"
1. Edit  a selected  Cloud Volume.
2. One can change the size or make it sharable, and click on save as shown below:
![Screen Shot 2021-04-15 at 6 20 54 PM](https://user-images.githubusercontent.com/5939617/114945444-55737b00-9e17-11eb-94ab-bff12c06a9a5.png)
3. Clicking on Save one gets `Server Error (API)`
![Screen Shot 2021-04-15 at 6 42 41 PM](https://user-images.githubusercontent.com/5939617/1

[2021-04-15 22:43] Kuldip-Nanda commented on #7712
@miq-bot add_label bug

[2021-04-15 22:52] Kuldip-Nanda opened #7713 "Add button disabled on Volume Create"
1. Go to `Storage > Block Storage > Volume ` and Add a new Cloud Volume>
2. Chose the Storage Manager. In this case I choose IBM Power VM Block Stporage Manager
3. Enter the Volume Name
4. Click the Up Arrow key on Size (in bytes). You will get 1073741824 byes (or 1G as I understand).
5.  One can choose any available Cloud Volume Type.

Add button is disabled. and will not enable unless you go and

[2021-04-15 22:52] Kuldip-Nanda commented on #7713
@miq-bot add_label bug

[2021-04-16 13:30] kavyanekkalapu commented on #7713
@DavidResende0 can you take a look at this issue?

[2021-04-16 16:36] Fryguy commented on #7712
@Kuldip-Nanda what version?  Can you show from the about screen?  (also show the plugins list if you can from the about screen)

[2021-04-16 16:44] Fryguy commented on #7712
Oh seems @kavyanekkalapu was able to reproduce...nevermind!

[2021-04-16 18:24] Fryguy commented on #7711
Yeah that's weird - cc @kavyanekkalapu

[2021-04-16 18:48] kavyanekkalapu commented on #7711
I realized that this is the case with all screens :)

<img width="1006" alt="Screen Shot 2021-04-16 at 2 47 24 PM" src="https://user-images.githubusercontent.com/37085529/115070270-b99f4900-9ec2-11eb-80d3-b37c29f2394f.png">

[2021-04-16 19:46] Fryguy commented on #7711
That's weird - is it only a specific class of screens?  Like all DDF, or all react?

[2021-04-16 20:02] kavyanekkalapu commented on #7711
@Fryguy i don't think it is anything to do with react or ddf, we only handle below form in ddf, not the right side header.

[2021-04-19 19:25] kavyanekkalapu commented on #7713
This is a ddf components bug, we opened issue here: https://github.com/data-driven-forms/react-forms/issues/1037
we are trying to contribute to that repo and fixing issue in https://github.com/data-driven-forms/react-forms/pull/1039

[2021-04-21 09:42] gubbe505 opened #7718 "Buttons Delete, Approve and Deny buttons are missing on the Request page after login using a direct link."
Reproduce:
* Make sure you are not logged in
* Open a direct link to a Request (https://my.miq.local/miq_request/show/[ID]#/
* Redirect to the login page
* Login
* Return to the request page

Result:
Buttons Delete, Approve and Deny buttons are missing

Expected result:
Buttons Delete, Approve and Deny buttons showing

Analysis:
I think this is caused of the session['request_tab] in app/controller

[2021-04-21 21:24] Fryguy commented on #7689
I was able to duplicate the issue with a KeyCloak OIDC server running locally and also verified that the fix in #21171 works.  There are a handful of other places in the code I want to verify before calling that a done deal.

[2021-04-22 16:11] #7689 closed

[2021-04-22 16:29] kbrock commented on #7712
is this good to close?

[2021-04-22 16:36] kavyanekkalapu commented on #7712
Yes closing it.

[2021-04-22 16:36] #7712 closed

[2021-04-22 16:36] kavyanekkalapu commented on #7713
This is fixed in above prs, closing it.

[2021-04-22 16:36] #7713 closed

[2021-04-22 19:05] kavyanekkalapu commented on #7367
Fixed keyboard functionality in above pr, closing this issue.

[2021-04-22 19:05] #7367 closed

[2021-05-03 19:12] Fryguy commented on #5970
Closing as we have no intention on changing these UX flows any time soon.

[2021-05-03 19:12] #5970 closed

[2021-05-03 19:13] Fryguy commented on #6029
Closing as we have no intention on changing these UX flows any time soon.

[2021-05-03 19:13] #6029 closed

[2021-05-03 19:13] Fryguy commented on #6031
Closing as we have no intention on changing these UX flows any time soon.

[2021-05-03 19:13] #6031 closed

[2021-05-03 19:13] Fryguy commented on #6032
Closing as we have no intention on changing these UX flows any time soon.

[2021-05-03 19:13] #6032 closed

[2021-05-03 19:13] Fryguy commented on #6036
Closing as we have no intention on changing these UX flows any time soon.

[2021-05-03 19:13] #6036 closed

[2021-05-03 19:13] Fryguy commented on #6037
Closing as we have no intention on changing these UX flows any time soon.

[2021-05-03 19:13] #6037 closed

[2021-05-03 19:37] mfeifer opened #7727 "[RFE] Add a rich text label control to service dialogs"
Please implement a rich text label control that we can use to provide free text. The label control should allow:

- Free text input.
- Ideally a small subset of Markdown (e.g. lists, headings, sizing), or something equivalent.
- Ideally allow for dynamic updates, like other dialog controls.

Currently there is no way to add a simple, basic label control to service dialogs. In order to provide guid

[2021-05-03 19:39] Fryguy commented on #7727
cc @kavyanekkalapu

[2021-05-03 19:41] mfeifer opened #7728 "[RFE] Add a custom per-field "validation failed" message for Regex Validator on Catalog Order"
Regex Validator displayed when the Catalog is ordered, Add a custom per-field "validation failed" message.

Add a custom per-field "validation failed" message rather than displaying the entire regex to be validated

[2021-05-03 19:49] Fryguy commented on #6669
cc @kavyanekkalapu

[2021-05-03 19:50] Fryguy commented on #6701
cc @kavyanekkalapu

[2021-05-06 14:22] kavyanekkalapu opened #7731 "Fix hover and click background color for left nav sub menu"
Issue:
<img width="1037" alt="Screen Shot 2021-05-06 at 10 19 08 AM" src="https://user-images.githubusercontent.com/37085529/117314544-de009c80-ae54-11eb-9fbb-130c762d3df8.png">
<img width="1057" alt="Screen Shot 2021-05-06 at 10 19 20 AM" src="https://user-images.githubusercontent.com/37085529/117314547-de009c80-ae54-11eb-96fd-fd6584847fed.png">

Background color should be : #666666

[2021-05-06 21:27] #7731 closed

[2021-05-11 13:53] agrare commented on #7709
https://github.com/ManageIQ/manageiq-ui-classic/pull/7719 merged, marking this complete

[2021-05-19 19:02] #7711 closed

[2021-05-20 17:31] GilbertCherrie opened #7742 "Download buttons do not work for automation configured systems"
<img width="1513" alt="Screen Shot 2021-05-20 at 1 29 25 PM" src="https://user-images.githubusercontent.com/32444791/119023117-690e8600-b96f-11eb-81f9-135128de72a6.png">

<img width="843" alt="Screen Shot 2021-05-20 at 1 29 49 PM" src="https://user-images.githubusercontent.com/32444791/119023178-7d528300-b96f-11eb-85f0-68ebef44bd78.png">

@miq-bot assign @GilbertCherrie

[2021-05-20 19:51] kavyanekkalapu commented on #6847
Converted form in above linked pr, closing it.

[2021-05-20 19:51] #6847 closed

[2021-05-21 14:19] iv1111 commented on #7675
@agrare Here is the workflow for solving this as we concluded now.

1. - [ ] Add a new product feature.
2. - [ ] UI changes, removing Object Manager (all will be under block managers)
3. - [ ] Merging https://github.com/ManageIQ/manageiq/pull/21213/files

[2021-05-21 15:15] #6861 closed

[2021-05-21 15:20] #7742 closed

[2021-05-24 17:43] agrare opened #7745 "Configuration Script UI Exception"
`FATAL -- : Error caught: [ActionView::Template::Error] undefined method 'values_at' for nil:NilClass`

![Screenshot from 2021-05-24 13-41-42](https://user-images.githubusercontent.com/12851112/119386764-fca8c500-bc95-11eb-8b6d-1304194fe8bc.png)

[code]

[2021-05-24 19:49] #6917 closed

[2021-05-26 15:38] chessbyte commented on #7597
@dmetzger57 is there any way to make the video links publicly accessible?

[2021-05-27 15:11] kavyanekkalapu commented on #6877
probably we can use https://react.carbondesignsystem.com/?path=/story/components-timepicker--default for this.

[2021-05-27 18:44] kavyanekkalapu commented on #7718
Fixed this in above linked pr.

[2021-05-27 18:44] #7718 closed

[2021-05-27 18:45] kavyanekkalapu commented on #7745
@agrare I have some templates, i am not getting error for them in my local. What are the exact steps to reproduce this error?

[2021-05-28 12:51] kavyanekkalapu commented on #6899
api done in Missing endpoint for creating a service dialog from a ConfigurationTemplate #1007 and Missing endpoint for creating a service dialog from a ConfigurationTemplate #1007

[2021-05-28 13:01] chessbyte commented on #6899
@kavyanekkalapu did you want to point to 2 different issues/PRs?

[2021-05-28 13:25] kavyanekkalapu commented on #6899
2 prs, looks like copy messed up, i will edit the comment.